table {
	@apply w-full text-sm text-left text-gray-500 mb-3;

	thead {
		@apply text-sm text-black capitalize bg-gray-100 dark:bg-gray-700 dark:text-gray-400;

		tr {
			th {
				@apply px-6 py-3 border-2 border-slate-200;
			}
		}
	}

	tbody {
		@apply text-gray-700;

		tr {
			@apply hover:bg-gray-200 hover:shadow dark:bg-gray-800 border-2 border-slate-300 dark:border-gray-700 transition-all duration-300;

			td,
			th {
				@apply px-6 py-1 border border-slate-300;
			}
		}
	}
}

//no-sonar
.custom-datatable {
	width: 100%;
	max-width: calc(100vw - 67px);
	margin: 0 auto;

	@screen sm {
		max-width: calc(100vw - 268px);
	}
}

.sidebar-show {
	&~div {
		.custom-datatable {
			max-width: calc(100vw - 29px);

			@screen sm {
				max-width: calc(100vw - 250px);
			}
		}
	}
}

.scrollable-tree-container {
	max-height: 400px;
	/* Adjust this value as needed */
	overflow-y: auto;
}

.p-rating .p-rating-icon::before {
	color: black;
	background-color: black;
}

.p-rating .p-rating-icon::after {
	color: black;
	fill: black;
}

.p-rating .p-rating-icon {
	color: var(--primary);
}