@import "../common/_variable";
@import "../common/_mixin";

.jkm-play-icon {
    @include jkm-play-icon;
}

.our_story {
    margin-bottom: 40px;
    margin-top: 20px;

    @media screen and (min-width: $device-sm) {
        margin-top: 40px;
    }

    @media screen and (min-width: $device-md) {
        margin-bottom: 60px;
        margin-top: 60px;
    }

    @media screen and (min-width: $device-lg) {
        margin-top: 30px;
    }

    @media screen and (min-width: $device-xl) {
        margin-bottom: 80px;
        margin-top: 20px;
    }

    @media screen and (min-width: $container-main) {
        margin-bottom: 120px;
        margin-top: 40px;
    }

    h2 {
        margin-bottom: 10px;

        @media screen and (min-width: $device-lg) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: $device-xl) {
            margin-bottom: 30px;
        }
    }

    .pr-0 {
        padding-right: 15px;

        @media only screen and (min-width: $device-lg) {
            padding-right: 0;
        }
    }

    .d-row {
        @include row;

        .d-col-2 {
            margin-bottom: 0;
            width: 100%;

            @media only screen and (min-width: $device-lg) {
                width: 50%;
            }

            .box {
                padding-left: 0px;
                margin-top: 30px;
                @include textCenter;

                @media only screen and (min-width: $device-sm) {
                    text-align: left;
                }

                @media only screen and (min-width: $device-lg) {
                    padding-left: 30px;
                    margin-top: 0;
                }

                @media only screen and (min-width: $container-lg) {
                    padding-left: 60px;
                }
            }

            &.f_img {
                @include align-item-start;

                .founder_image {
                    position: relative;
                    border: 1px solid var(--data_border_color);
                    @include border-radius(10px);
                    padding: 30% 45%;
                    margin: auto;

                    @media only screen and (min-width: $device-sm) {
                        padding: 25% 35%;
                    }

                    @media only screen and (min-width: $device-lg) {
                        padding: 40% 50%;
                    }

                    a {
                        position: absolute;
                        display: inline-block;
                        height: 80px;
                        width: 80px;
                        @include border-radius(50%);
                        overflow: hidden;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                        @include flexbox;
                        @include just-center;
                        @include align-item-center;
                        cursor: pointer;

                        @media only screen and (min-width: $device-md) {
                            height: 90px;
                            width: 90px;
                        }

                        @media only screen and (min-width: $device-xl) {
                            height: 120px;
                            width: 120px;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            background: var(--data_site_theme_highlight);
                            inset: 0;
                            @include opacity(0.6);
                        }

                        i {
                            color: var(--data_site_primary_color);
                            font-size: 22px;
                            position: relative;
                            z-index: 1;

                            @media only screen and (min-width: $device-md) {
                                font-size: 32px;
                            }

                            @media only screen and (min-width: $device-xl) {
                                font-size: 42px;
                            }
                        }
                    }

                    &:before {
                        content: '';
                        background: url('../../images/about_us/story-back.png') no-repeat;
                        background-size: cover;
                        position: absolute;
                        width: 51.5%;
                        height: 64.2%;
                        top: -9%;
                        left: -9%;
                    }

                    picture {
                        img {
                            position: absolute;
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @include border-radius(10px);
                        }
                    }
                }
            }
        }
    }
}

.modal.custom-dialog.book-demo-modal {
    .modal-center {
        max-width: 600px;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }

    .modal-content {
        width: 100%;
        max-width: 600px;
        height: 400px;
    }
}

.about-modal {
    padding: 0 20px;

    .pop-up-container {
        max-width: 1200px;

        .modal-wrapper {
            padding: 0 0 56.25% 0;

            .jkm-close {
                top: -10px;
                right: -10px;
                background: #fff;
                @include border-radius(50%);
                height: 25px;
                width: 25px;
                @include flexbox;
                @include align-item-center;
                @include just-center;
                font-size: 12px;
                font-weight: 600;
                z-index: 1;
            }

            iframe {
                border: 0;
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.about-person {
    margin-top: 25px;

    .person-image {
        vertical-align: top;
        padding: 80px 75px;
        position: relative;
        overflow: hidden;
        border-radius: var(--data_site_border_radius);
        display: inline-block;
        border: 1px solid var(--data_border_color);

        @media only screen and (min-width: $device-lg) {
            padding: 17.7% 16.2%;
        }

        img {
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    @media only screen and (min-width: $device-xl) {
        margin-top: 35px;
    }

    @media only screen and (min-width: $container-lg) {
        margin-top: 40px;
    }

    .person-details {
        width: 100%;
        display: inline-block;
        padding-top: 15px;

        @media only screen and (min-width: $device-sm) {
            width: calc(100% - 156px);
            padding-left: 20px;
            padding-top: 0;
        }

        @media only screen and (min-width: $device-lg) {
            width: calc(100% - 33.7%);
        }

        @media only screen and (min-width: $device-xl) {
            padding-left: 30px;
        }

        @media only screen and (min-width: $container-lg) {
            padding-left: 40px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.our_story {
    .d-row {
        .d-col-2 {
            &.f_img {
                .founder_image {
                    padding: 32.8% 50%;

                    @media only screen and (min-width: $device-sm) {
                        padding: 25.8% 40%;
                    }

                    @media only screen and (min-width: $device-lg) {
                        padding: 32.8% 50%;
                    }
                }
            }
        }
    }
}

h2 {
    margin-bottom: 25px;

    @media only screen and (min-width: $device-md) {
        margin-bottom: 30px;
    }

    @media only screen and (min-width: $device-xl) {
        margin-bottom: 50px;
    }
}

img {
    @include img-common;
}