@import "../common/mixin";

.testimonial {
    padding: 40px 0;
    margin-bottom: 40px;

    @media screen and (min-width: $device-md) {
        padding: 60px 0 0px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $device-xl) {
        padding: 80px 0 0px;
        margin-bottom: 80px;
    }

    @media screen and (min-width: $container-main) {
        padding: 120px 0 0px;
        margin-bottom: 120px;
    }

    .btn-bottom {
        margin: 0 auto;
    }

    position: relative;

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        background: var(--testimonial-image) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        @media only screen and (min-width: $device-md) {
            height: 60%;
        }
    }

    @media only screen and (min-width: $device-md) {
        padding: 80px 0 0px;
    }

    @media only screen and (min-width: $device-xl) {
        padding: 120px 0 0px;
    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        @include font-family(var(--data_site_font_secondary),
            400);
    }

    .d-row {
        @include row;
        @include just-center;

        .d-col-3 {
            @include d-col-3;
            width: 100%;

            @media only screen and (min-width: $device-md) {
                width: 41.3%;
                margin-left: -7%;
                margin-right: -7%;
                z-index: 0;
            }

            @media only screen and (min-width: $device-xl) {
                width: 33.33%;
                margin-left: -5%;
                margin-right: -5%;
            }
        }
    }

    .testimonial-main-content {
        @include textCenter;
        margin-bottom: 30px;
        @include box-shadow(0px, 0px, 30px, #0000000D);
        color: var(--data_site_highlight_section_text_color);

        @media only screen and (min-width: $device-md) {
            margin-bottom: 96px;
        }

        @media only screen and (min-width: $device-xl) {
            margin-bottom: 136px;
        }
    }

    .testimonial-wrapper {
        @media only screen and (min-width: $device-md) {
            padding: 0;
        }

        &:not(.active) {
            @media only screen and (min-width: $device-md) {
                padding: 3.2% 0;
            }

            .testimonial-content {
                padding: 20px 15px;

                @media only screen and (min-width: $device-sm) {
                    padding: 30px;
                }

                @media only screen and (min-width: $device-md) {
                    padding: 50px 15px;
                }

                @media only screen and (min-width: $device-lg) {
                    padding: 65px 30px;
                }

                @media only screen and (min-width: $device-xl) {
                    padding: 80px 59px;
                }
            }
        }

        .testimonial-content {
            cursor: pointer;
            padding: 20px 15px;
            margin-top: 0;
            @include box-shadow(0px, 0px, 30px, #0000000D);
            @include transition(0.3s);

            @media only screen and (min-width: $device-md) {
                padding: 30px 15px;
            }

            @media only screen and (min-width: $device-lg) {
                padding: 30px;
            }

            @media only screen and (min-width: $device-xl) {
                padding: 40px 49px 80px;
            }

            .testimonial-title {
                margin-bottom: 10px;
                padding-bottom: 10px;

                @media only screen and (min-width: $device-xl) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
            }

            .testimonial-img {
                @media only screen and (min-width: $device-md) {
                    padding: 4px;
                    width: 112px;
                    height: 112px;
                    margin-bottom: 20px;
                    display: block;
                    margin-top: -85px;
                    display: none;
                }

                @media only screen and (min-width: $device-lg) {
                    padding: 4px;
                    width: 132px;
                    height: 132px;
                    margin-bottom: 30px;
                    margin-top: -90px;
                }

                @media only screen and (min-width: $device-xl) {
                    padding: 6px;
                    width: 172px;
                    height: 172px;
                    margin-bottom: 40px;
                    margin-top: -122px;
                }
            }

            .testimonial-para {
                font-size: 14px;
                @include opacity(0.7);

                @media screen and (min-width: $device-xl) {
                    font-size: 16px;
                }
            }

            .testimonial-img img {
                width: 100%;
                height: 100%;
                @include border-radius(100%);
            }
        }

        &.active {
            @media screen and (min-width: $device-md) {
                z-index: 1;

                .testimonial-content {
                    background: var(--data_site_theme_color);

                    .testimonial-icon {
                        display: none;
                    }

                    .testimonial-para {
                        font-size: 16px;
                        @include opacity(1);

                        @media screen and (min-width: $device-xl) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .testimonial-img {
                @media only screen and (min-width: $device-md) {
                    display: block;
                }
            }
        }
    }
}

.testimonial-content {
    @include flexbox;
    @include flexColumn;
    @include align-item-center;
    padding: 30px 15px;
    margin-top: 40px;
    background: var(--data_site_theme_highlight);
    @include border-radius(10px);
    @include transition(0.3s);
    cursor: pointer;
    width: 100%;

    @media only screen and (min-width: $device-md) {
        padding: 40px 26px;
    }

    .testimonial-img {
        @include box-shadow(0, 0, 6px, var(--data_box_shadow_color));
        @include border-radius(100%);
        padding: 5px 4px 4px 5px;
        background: var(--data_site_theme_color);
        width: 74px;
        height: 74px;
        margin-top: -65px;
        margin-bottom: 15px;
        overflow: hidden;

        img {
            width: 65px;
            height: auto;
            @include border-radius(50%);
        }

        @media only screen and (min-width: $device-md) {
            margin-bottom: 26px;
            width: 97px;
            height: 97px;
            margin-top: -85px;
            margin-bottom: 21px;
            overflow: hidden;

            img {
                width: auto;
            }
        }

        @media only screen and (min-width: $device-xl) {
            margin-bottom: 34px;
        }
    }

    .testimonial-title {
        padding-bottom: 15px;
        border-bottom: 1px solid;

        @media only screen and (min-width: $device-md) {
            padding-bottom: 20px;
        }

        font-weight: bold;
        margin-bottom: 15px;

        @media only screen and (min-width: $device-md) {
            margin-bottom: 20px;
        }
    }

    .testimonial-para {
        @include textCenter;
        margin-bottom: 15px;

        @media only screen and (min-width: $device-md) {
            margin-bottom: 20px;
        }

        @media only screen and (min-width: $device-xl) {
            margin-bottom: 30px;
        }
    }

    .testimonial-icon {
        font-size: 33px;
        @include transition(0.3s);

        @media only screen and (min-width: $device-md) {
            font-size: 40px;
        }

        @media only screen and (min-width: $device-xl) {
            font-size: 53px;
        }
    }

    &:hover {
        @include box-shadow(0,
            0,
            10px,
            var(--data_box_shadow_color));
        background: var(--data_site_theme_color);

        .testimonial-icon {
            @include transform(scaleX(-1));
            color: var(--data_site_primary_color);
        }
    }
}