@import "../common/variable";
@import "../common/mixin";

.banner-sec {
    margin-bottom: 40px;

    @media screen and (min-width: $device-md) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $device-xl) {
        margin-bottom: 80px;
    }

    .banner-image-wrap {
        position: relative;
        background: transparent linear-gradient(180deg, #00000000 0%, #00000073 66%, var(--data_site_text_color) 100%) 0% 0% no-repeat padding-box;
        background-color: #00000099;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }

        .banner-content {
            padding: 100px 15px 20px;
            @include textCenter;
            color: var(--data_site_highlight_section_text_color);
            max-width: 1224px;
            @include flexCenter;
            @include flexColumn;
            margin: 0 auto;

            @media only screen and (min-width: $device-sm) {
                padding: 200px 15px 30px;
            }

            @media only screen and (min-width: $device-md) {
                padding: 300px 20px 40px;
            }

            @media only screen and (min-width: $device-lg) {
                padding: 400px 20px 50px;
            }

            @media only screen and (min-width: $device-xl) {
                padding: 500px 20px 60px;
            }

            h2 {
                margin-bottom: 15px;

                @media only screen and (min-width: $device-xl) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}