@import "../common/_variable";
@import "../common/_mixin";

.banner-sec {
    margin-bottom: 40px;

    @media screen and (min-width: $device-md) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $device-xl) {
        margin-bottom: 80px;
    }

    @media screen and (min-width: $container-main) {
        margin-bottom: 120px;
    }

    .banner-image-wrap {
        position: relative;
        @include flexCenter;
        padding: 15px;
        min-height: 160px;
        background-color: #00000099;

        @media only screen and (min-width: $device-md) {
            min-height: 330px;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        }

        .banner-content {
            color: var(--data_site_highlight_section_text_color);
            @include textCenter;

            // text-transform: capitalize;
            h2 {
                margin-bottom: 10px;
            }
        }
    }
}