@import "../common/_variable";
@import "../common/_mixin";

.btn {
  @include button;
  &.btn-primary {
    @include btn-primary;
  }
  &.btn-small {
    @include btn-small;
  }
}
.flex-center {
  @include flexCenter;
}

.load-more {
  margin-top: 10px;
  @media only screen and (min-width: $device-md) {
    margin-top: 20px;
  }
  @media only screen and (min-width: $device-xl) {
    margin-top: 30px;
  }
}
