@import "../common/mixin";

img {
    @include img-common;
}

.jkm-eye-off {
    @include jkm-eye-off;
}

.jkm-eye-fill {
    @include jkm-eye-fill;
}

.jkm-arrow-left {
    @include jkm-arrow-left;
}

.jkm-mail1 {
    @include jkm-mail1;
}

.jkm-meta {
    @include jkm-meta;
}

.jkm-instagram {
    @include jkm-instagram;
}

.jkm-linkedin {
    @include jkm-linkedin;
}

.jkm-whatsapp {
    @include jkm-whatsapp;
}

.jkm-youtube {
    @include jkm-youtube;
}

.jkm-visa {
    @include jkm-visa;
}

.btn {
    @include button;

    &.btn-primary {
        @include btn-primary;
    }

    &.btn-secondary {
        @include btn-secondary;
    }

    &.btn-small {
        @include btn-small;
    }

    &.btn-medium {
        @include btn-medium;
    }

    &.btn-icon {
        @include btn-icon;
    }
}

*,
*::before,
*::after {
    @include box(border-box);
}

body {
    @include body-common;
}

footer,
header,
main,
section {
    display: block;
}

img,
a,
input {
    @include space-none;
}

ul,
li {
    @include order-unoderlist;
}

a {
    @include anchor-link-common;
}

img {
    @include img-common;
}

main {
    @include main;
}

.container {
    @include container;
}

section {
    @include section;
}

p {
    margin-bottom: 30px;
}

.page-wrapper .banner-sec {
    @include mb-0;
}

.hide-show-icon {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    right: 15px;
    color: var(--data_site_text_color);
    display: none;
    @include opacity(.5);

    &.active {
        display: block;
    }
}

.forgot-password-sec {
    margin-bottom: 60px;
    z-index: 1;
    position: relative;

    @media only screen and (min-width: $device-md) {
        margin-bottom: 90px;
    }

    @media only screen and (min-width: $device-xl) {
        margin-bottom: 145px;
    }

    .forgot-password-wrap {
        @include flexbox;
        @include flexColumn;
        @include border-radius(var(--data_site_border_radius));
        margin: -40px auto auto;

        @media only screen and (min-width: $device-md) {
            margin: -130px auto auto;
        }

        border: 1px solid var(--data_border_color);
        background: var(--data_site_theme_highlight);
        width: 100%;
        z-index: 999;
        max-width: 520px;
        padding: 45px 20px;

        @media only screen and (min-width: $device-sm) {
            padding: 45px 30px;
        }

        @media only screen and (min-width: $device-md) {
            padding: 45px 40px;
        }

        @media only screen and (min-width: $device-xl) {
            padding: 60px;
        }

        .form-group {
            @include mb-30;
        }

        .para-text {
            @include textCenter;
        }

        p {
            margin-bottom: 5px;

            @media only screen and (min-width: $device-md) {
                margin-bottom: 20px;
            }

            @media only screen and (min-width: $device-xl) {
                margin-bottom: 30px;
            }
        }

        .create-account {
            margin-bottom: 0;
        }

        position: relative;

        .arrow-left {
            font-size: 20px;
            position: absolute;
            top: 20px;
            left: 20px;
            color: var(--data_site_primary_color);

            @media only screen and (min-width: $device-md) {
                font-size: 24px;
            }
        }
    }
}

section {
    &.banner-sec {
        .banner-image-wrap {
            @include align-item-start;
            padding-top: 55px;

            @media only screen and (min-width: $device-md) {
                padding-top: 100px;
            }

            @media only screen and (min-width: $device-xl) {
                padding-top: 79px;
            }
        }
    }
}

form {
    .btn {
        @include button;
        margin-bottom: 30px;

        &.btn-primary {
            @include btn-primary;
        }

        &.btn-large {
            @include btn-large;
        }

        &.reset-pwd {
            margin-bottom: 0;
        }
    }

    .create-account {
        @include textCenter;
        margin: 0;

        .create-new-account {
            text-decoration: underline;
            margin-left: 5px;
        }
    }
}

section {
    @include form-contain;
}

.p-error {
    color: var(--data_error_color);
}

.form-group-wrapper {
    position: relative;
}