@import "../common/mixin-2";

.jkms2-arrow-left {
    @include jkms2-arrow-left;
}

.jkms2-eye-off {
    @include jkms2-eye-off;
}

*,
*::before,
*::after {
    @include box(border-box);
}

body {
    @include body-common;
}

main,
section {
    display: block;
}

a,
input,
p {
    @include space-none;
}

a {
    @include anchor-link-common;
}

main {
    @include main;
}

.container {
    @include container;
}

section {
    @include section;
}

p {
    margin-bottom: 30px;
}

.forgot-password-sec {
    background-image: url('../../images/diamond_background_image.jpg');
    height: auto;
    @include bg-cmn;
    padding: 40px 0;

    .forgot-password-wrap {
        @include flexbox;
        @include flexColumn;
        @include box-shadow(0,
            0,
            10px,
            var(--data_box_shadow_color));
        border: 1px solid var(--data_border_color);
        background: var(--data_site_theme_color);
        @include opacity(.92);
        max-width: 520px;
        padding: 130px 20px;

        @media only screen and (min-width: $device-md) {
            padding: 188px 40px;
        }

        @media only screen and (min-width: $device-xl) {
            padding: 230px 60px;
        }

        .form-group {
            @include mb-30;
        }

        .para-text {
            @include textCenter;
        }

        position: relative;

        .arrow-left {
            font-size: 20px;
            position: absolute;
            top: 11.7%;
            left: 20px;
            color: var(--data_site_primary_color);

            @media only screen and (min-width: $device-md) {
                font-size: 25px;
                left: 40px;
            }

            @media only screen and (min-width: $device-xl) {
                left: 60px;
            }
        }

        h3 {
            @include textCenter;
            text-transform: capitalize;
            margin-bottom: 15px;

            @media only screen and (min-width: $device-md) {
                margin-bottom: 20px;
            }

            @media only screen and (min-width: $device-xl) {
                margin-bottom: 30px;
            }
        }
    }
}

p {
    margin-bottom: 15px;

    @media only screen and (min-width: $device-md) {
        margin-bottom: 20px;
    }

    @media only screen and (min-width: $device-xl) {
        margin-bottom: 28px;
    }
}

.btn {
    @include button;

    &.btn-primary {
        @include btn-primary;
    }

    &.btn-secondary {
        @include btn-secondary;
    }

    &.btn-small {
        @include btn-small;
    }

    &.btn-medium {
        @include btn-medium;
    }
}

img {
    @include img-common;
}

form {
    .btn {
        @include button;
        margin-bottom: 30px;

        &.btn-primary {
            @include btn-primary;
        }

        &.btn-large {
            @include btn-large;
        }
    }

    p {
        @include textCenter;
        margin: 0;

        .create-new-account {
            text-decoration: underline;
            margin-left: 5px;
        }
    }
}

section {
    @include form-contain;
}

.hide-show-icon {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    right: 15px;
    color: var(--data_site_text_color);
    display: none;
    @include opacity(.5);

    &.active {
        display: block;
    }
}

.p-error {
    color: var(--data_error_color);
}

.form-group-wrapper {
    position: relative;
}