@import "../common/mixin";

.jkm-call {
    @include jkm-call;
}

.jkm-heart {
    @include jkm-heart;
}

.jkm-add-to-cart {
    @include jkm-add-to-cart;
}

.jkm-user {
    @include jkm-user;
}

.jkm-close {
    @include jkm-close;
}

.jkm-arrow-left {
    @include jkm-arrow-left;
}

.jkm-call {
    @include jkm-call;
}

.jkm-gold {
    @include jkm-gold;
}

.jkm-diamond-icon {
    @include jkm-diamond-icon;
}

.jkm-arrow-right {
    @include jkm-arrow-right;
}

.jkm-silver {
    @include jkm-silver;
}

.jkm-gemstone {
    @include jkm-gemstone;
}

.jkm-star2 {
    @include jkm-star2;
}

.jkm-magic-ring {
    @include jkm-magic-ring;
}

.jkm-solitaire {
    @include jkm-solitaire;
}

.jkm-search {
    @include jkm-search;
}

.jkm-nav {
    @include jkm-nav;
}

.jkm-more {
    @include jkm-more;
}

header {
    box-shadow: 0px 0px 21px -10px var(--data_site_primary_color);
    z-index: 4;
    position: sticky;
    top: 0;
    background-color: var(--data_site_theme_color);

    .top-header {
        background: var(--data_site_primary_color);
        padding: 15px;
        color: var(--data_site_highlight_section_text_color);
        @include flexbox;
        @include space-between;
        line-height: normal;
        @include flexwrap;

        @media only screen and (min-width: $device-lg) {
            flex-wrap: nowrap;
        }

        @media only screen and (min-width: $device-xl) {
            padding: 15px;
            font-size: 14px;
        }

        @media only screen and (min-width: $container-xl) {
            padding: 15px 50px;
            font-size: 18px;
        }

        ul {
            @include flexbox;
            @include just-center;

            &:nth-child(2) {
                order: -1;
                width: 100%;
                padding-bottom: 15px;

                @media only screen and (min-width: $device-lg) {
                    display: block;
                    width: auto;
                    order: initial;
                    padding-bottom: 0;
                }
            }

            &:nth-child(3) {
                li {
                    &:nth-child(1) {

                        // display: none;
                        @media only screen and (min-width: $device-md) {
                            display: block;
                        }
                    }

                    &:nth-child(2) {
                        display: none;

                        @media only screen and (min-width: $device-md) {
                            display: block;
                        }

                        @media only screen and (min-width: $device-sm) {
                            display: block;
                        }

                        @media only screen and (min-width: $device-xs) {
                            display: block;
                        }
                    }
                }
            }

            li {
                position: relative;
                margin: 0 10px;

                @media only screen and (max-width: $device-xsmall) {
                    font-size: 12px;
                }

                @media only screen and (min-width: $container-xl) {
                    margin: 0 20px;
                }

                a {
                    color: var(--data_site_highlight_section_text_color);
                }

                &.call {
                    i {
                        margin-right: 15px;
                        font-size: 16px;
                        vertical-align: middle;

                        @media only screen and (max-width: $device-xsmall) {
                            margin-right: 10px;
                            font-size: 13px;
                        }
                    }
                }

                &.click {
                    margin: auto;

                    a {
                        color: var(--data_site_secondary_color);
                    }
                }

                &#countryList {
                    @include flexbox;
                    @include align-item-center;
                    margin-right: 0;

                    @media only screen and (min-width: $device-sm) {
                        margin-right: 10px;
                        align-items: unset;
                    }
                }

                &.country {

                    .country-item,
                    .selected-country {
                        .jkm-arrow-down {
                            @include jkm-arrow-down;
                            font-size: 8px;
                            align-items: center;
                            position: relative;
                            right: -4px;
                            top: 67%;
                        }

                        @include flexbox;
                        @include align-item-center;
                        cursor: pointer;

                        img {
                            width: 20px;
                            height: 10px;
                            margin-right: 10px;
                        }

                        @media (max-width: $device-sm) {
                            .jkm-arrow-down {
                                margin-left: -7px;
                                margin-right: 7px;
                                transform: translateY(3%);
                            }
                        }

                        @media (min-width: $device-sm) {
                            .jkm-arrow-down {
                                margin-left: 2px;
                                margin-right: 4px;
                                transform: translateY(26%);
                            }
                        }
                    }

                    .selected-country {
                        div {
                            display: none;

                            @media only screen and (min-width: $device-sm) {
                                display: block;
                            }
                        }
                    }

                    .list-item {
                        margin: 0;
                        padding: 0.5rem 1rem;
                        @include font-detail(16px, 24px);

                        &:hover {
                            background: #e9ecef;
                        }
                    }

                    .country-list {
                        display: none;
                        position: absolute;
                        width: 225px;
                        max-height: 200px;
                        overflow-y: auto;
                        z-index: 13;
                        background: var(--data_site_theme_color);
                        color: var(--data_site_primary_color);
                        @include border-radius(3px);
                        box-shadow: 0 2px 4px -1px var(--data_box_shadow_color);
                        top: 10px;

                        &.active {
                            display: block;
                            margin-top: 15px;
                            right: 0;
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                span {
                    background: var(--data_site_secondary_color);
                    color: var(--data_site_theme_highlight);
                    height: 15px;
                    width: 15px;
                    @include border-radius(50%);
                    font-size: 8px;
                    position: absolute;
                    @include textCenter;
                    line-height: 15px;
                    top: -6px;
                    right: -14px;
                    font-weight: bold;

                    @media only screen and (min-width: $device-xl) {
                        height: 20px;
                        width: 20px;
                        line-height: 20px;
                        font-size: 11px;
                    }
                }

                // Select Country Dropdown - Start
                label {
                    position: relative;
                    display: inline-block;

                    &:before {
                        content: "";
                        height: (36 - 5) px;
                        position: absolute;
                        right: 7px;
                        top: 3px;
                        width: 22px;
                        background: var(--data_site_primary_color);
                        color: var(----data_site_highlight_section_text_color);
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                        pointer-events: none;
                        display: block;
                    }

                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        // line-height: 36px;
                        // height: 36px;
                        background: var(--data_site_primary_color);
                        color: var(----data_site_highlight_section_text_color);
                        border: none;
                        min-width: 60px;
                        max-width: 60px;
                        // margin: 0 5px 5px 0;
                    }
                }

                //fix for ie 10 later
                select::-ms-expand {
                    display: none;
                }

                // Select Country Dropdown - End
            }
        }

        .user-dropdown {
            position: relative;

            .user-dropdown-btn {
                display: block;
                height: 20px;
                width: 20px;
                @include border-radius(100%);
                cursor: pointer;

                @media screen and (max-width: $device-lg) {
                    height: 20px;
                    width: 20px;
                }

                > img {
                    width: 100%;
                }
            }

            .user-dropdown-menu {
                display: none;
                position: absolute;
                top: 40px;
                right: 0;
                z-index: 3;
                background-color: var(--data_site_highlight_section_text_color);
                width: 365px;
                box-shadow: 0px 3px 6px #00000029;

                @media screen and (max-width: $device-lg) {
                    top: 38px;
                }

                @media screen and (max-width: $device-xl) {
                    top: 40px;
                }

                @media screen and (max-width: $device-md) {
                    width: 320px;
                }

                @media screen and (max-width: $device-lg) {
                    top: 54px;
                }

                @media screen and (max-width: $device-md) {
                    width: 300px;
                }

                @media screen and (max-width: $device-sm) {
                    top: 52px;
                }

                @media screen and (max-width: 340px) {
                    right: -15px;
                    width: 320px;
                }
            }

            &.active {
                .user-dropdown-menu {
                    animation: fade-in 0.5s;
                    display: block;
                }
            }

            .user-profile-details {
                background-color: var(--data_site_secondary_color);
                @include flexbox;
                @include align-item-center;
                padding: 30px;

                @media screen and (max-width: $device-sm) {
                    padding: 25px;
                }

                @media screen and (max-width: $device-md) {
                    padding: 20px;
                }

                @media screen and (max-width: $device-md) {
                    padding: 16px;
                }

                .user-profile-image {
                    display: block;
                    height: 52px;
                    width: 52px;
                    margin-right: 10px;
                    @include border-radius(100%);

                    @media screen and (max-width: $device-md) {
                        height: 45px;
                        width: 45px;
                    }
                }

                .user-profile-content {
                    max-width: 242px;

                    @media screen and (max-width: $device-md) {
                        max-width: 210px;
                    }
                }

                .user-name {
                    font-weight: bold;
                    @include font-detail(20px, 23px);
                    font-family: var(--data_site_font_primary);
                    letter-spacing: 0px;
                    color: var(--data_site_highlight_section_text_color);
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media screen and (max-width: $device-md) {
                        @include font-detail(18px, 21px);
                    }

                    @media screen and (max-width: $device-md) {
                        @include font-detail(16px, 19px);
                    }
                }

                .user-email {
                    @include font-detail(18px, 28px);
                    font-family: var(--data_site_font_primary);
                    letter-spacing: 0px;
                    color: var(--data_site_highlight_section_text_color);
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media screen and (max-width: $device-md) {
                        @include font-detail(16px, 26px);
                    }

                    @media screen and (max-width: $device-md) {
                        @include font-detail(14px, 24px);
                    }
                }
            }

            .user-dropdown-menu-link {
                @include flexbox;
                @include align-item-center;
                padding: 0px 30px;
                background-color: var(--data_site_highlight_section_text_color);

                @media screen and (max-width: $device-md) {
                    padding: 0px 25px;
                }

                @media screen and (max-width: $device-md) {
                    padding: 0px 20px;
                }

                @media screen and (max-width: $device-md) {
                    padding: 0px 16px;
                }

                i {
                    font-size: 18px;
                    color: var(--data_site_primary_color);
                    display: inline-block;
                    margin-right: 12px;

                    @media screen and (max-width: $device-md) {
                        font-size: 16px;
                    }
                }

                span {
                    display: inline-block;
                    font-weight: bold;
                    @include font-detail(16px, 22px);
                    font-family: var(--data_site_font_primary);
                    letter-spacing: 0px;
                    color: var(--data_site_text_color);

                    @media screen and (max-width: $device-md) {
                        @include font-detail(14px, 20px);
                    }
                }

                &:hover .user-dropdown-menu-inner {
                    // background-color: rgba(33, 81, 161, 0.1);
                    color: var(--data_site_primary_color);
                }
            }

            .user-dropdown-menu-inner {
                padding: 24px 0;
                display: block;
                width: 100%;
                border-bottom: 1px solid rgba(5, 5, 5, 0.1);
                color: var(--data_site_text_color);

                @media screen and (max-width: $device-md) {
                    padding: 20px 0;
                }

                @media screen and (max-width: $device-md) {
                    padding: 16px 0;
                }

                @media screen and (max-width: $device-md) {
                    padding: 14px 0;
                }
            }

            .user-dropdown-menu-item {
                &:last-child {
                    .user-dropdown-menu-link {
                        .user-dropdown-menu-inner {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .main-header {
        padding: 0 15px;
        // position: relative;
        @include flexbox;
        @include space-between;
        @include align-item-center;

        @media only screen and (min-width: $device-md) {
            height: 90px;
        }

        @media only screen and (min-width: $device-xl) {
            position: relative;
        }

        @media only screen and (min-width: $container-xl) {
            padding: 0 50px;
            // height: 110px;
        }

        .responsive-menu {
            line-height: 50px;
            cursor: pointer;

            @media only screen and (min-width: $device-xl) {
                display: none;
            }

            span {
                margin-right: 10px;
                vertical-align: middle;
                font-size: 18px;
            }
        }

        .mobile-book-btn {
            @media only screen and (min-width: $device-xl) {
                display: none;
            }
        }

        .logo {
            margin: 0;
            @include flexbox;
            @include align-item-center;
            padding: 10px 0;
            height: 100%;

            a {
                height: 100%;
            }

            img {
                width: 130px;
                height: 100%;
                object-fit: contain;

                @media only screen and (min-width: $device-md) {
                    width: 190px;
                }

                @media only screen and (min-width: $device-xl) {
                    width: 190px;
                }

                @media only screen and (min-width: $container-xl) {
                    width: 250px;
                }
            }
        }

        > ul {
            @include flexbox;
            @include just-center;

            &.menu-item {
                @include flexColumn;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                background: var(--data_site_theme_color);
                z-index: 3;
                height: 100%;
                justify-content: flex-start;
                overflow-y: auto;
                overflow-x: hidden;

                @media only screen and (min-width: $device-xl) {
                    @include flexrow;
                    position: static;
                    @include just-center;
                    width: auto;
                    padding: 0;
                    left: 0;
                    @include flexbox;
                }

                &.active {
                    left: 0;
                    @include transition(0.5s, ease-in);
                }

                .mobile-header {
                    @include flexbox;
                    @include space-between;
                    border-bottom: 1px solid var(--data_site_theme_highlight);
                    margin: 0;

                    .menu-mobile-arrow {
                        width: 45px;
                        height: 45px;
                        border: 0;
                        background: none;
                        border-right: 1px solid var(--data_site_theme_highlight);
                        cursor: pointer;
                    }

                    .menu-mobile-close {
                        width: 45px;
                        height: 45px;
                        border: 0;
                        background: none;
                        border-left: 1px solid var(--data_site_theme_highlight);

                        span {
                            cursor: pointer;
                        }
                    }

                    @media only screen and (min-width: $device-xl) {
                        display: none;
                    }
                }

                > li {
                    @media only screen and (min-width: $device-xl) {
                        position: static;
                    }

                    .jkm-arrow-right {
                        width: 45px;
                        height: 55px;
                        right: 0;
                        top: 0;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        @include flexbox;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        @include align-item-center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        @include just-center;
                        z-index: 9999;
                        border-bottom: 1px solid var(--data_border_color);
                        cursor: pointer;

                        @media only screen and (min-width: $device-xl) {
                            display: none;
                            border-bottom-color: transparent;
                        }
                    }

                    > a {
                        width: calc(100% - 45px);
                        height: 100%;
                        padding: 15px;
                        margin: 0;
                        border-bottom: 1px solid var(--data_border_color);

                        @media only screen and (min-width: $device-xl) {
                            border-bottom: solid 5px transparent;
                            width: 100%;
                            padding: 19px 15px;
                        }

                        &:hover {
                            border-color: var(--data_site_secondary_color);
                            border-bottom: solid 5px;
                        }
                    }
                }

                li {
                    padding: 0;

                    &.mobile-search {
                        margin: 0;
                        padding: 15px;
                    }

                    &.mobile-book-btn {
                        padding: 0 15px;

                        a {
                            width: 100%;
                        }
                    }

                    @media only screen and (min-width: $device-xl) {
                        margin-bottom: 0;
                    }

                    a {

                        // height: 100%;
                        &.btn {
                            &.btn-medium {
                                max-width: inherit;
                                height: 40px;

                                @media only screen and (min-width: $device-xl) {
                                    height: 50px;
                                }
                            }
                        }
                    }

                    &.mobile-search {
                        @media only screen and (min-width: $device-xl) {
                            display: none;
                        }

                        input {
                            background: var(--data_site_theme_highlight);
                            border: solid 1px var(--data_site_theme_highlight);
                            height: 40px;
                            border-radius: var(--data_site_border_radius);
                            width: 100%;
                        }

                        .suggestion-open {
                            .search-input {
                                border-color: var(--data_border_color);
                                @include border-radius(5px 5px 0 0);
                            }
                        }

                        > span {
                            position: relative;
                            width: 100%;

                            > span {
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                @include transform(translateY(-50%));
                            }
                        }
                    }
                }

                &.menu-over {
                    overflow: visible;

                    .extra-menu {
                        position: relative;
                        height: 20px;
                        margin: auto;

                        > a {
                            border: none;
                            padding: 0;
                            cursor: pointer;
                        }

                        ul {
                            position: absolute;
                            top: 100%;
                            @include opacity(0);
                            visibility: hidden;
                            background-color: #fff;
                            padding: 5px 0;
                            box-shadow: 0px 0px 5px 0px #bcbcbc;

                            li {
                                padding: 5px 20px;

                                i {
                                    margin-right: 10px;
                                    vertical-align: middle;
                                }
                            }
                        }

                        &:hover {
                            ul {
                                @include opacity(1);
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &.rightside-btn {
                display: none;

                @media only screen and (min-width: $device-xl) {
                    @include flexbox;
                    @include just-center;
                }
            }

            > li {
                @include flexbox;
                @include align-item-center;

                @media only screen and (min-width: $device-xl) {
                    font-size: 14px;
                    margin: 0 10px;
                }

                @media only screen and (min-width: $container-xl) {
                    margin: 0 20px;
                    font-size: 18px;
                }

                padding: 10px 0;
                // border-bottom: 5px solid transparent;
                @include transition(0.3s);

                // &:hover:not(.search-icon, .book-btn, .logo) {
                //     border-color: var(--data_site_secondary_color);
                //     >a,
                //     >i {
                //         color: var(--data_site_secondary_color);
                //     }
                // }
                // &:last-child {
                //   a {
                //     border: 0;
                //   }
                // }
                .btn-icon {
                    @include btn-icon;
                    background: var(--data_site_theme_highlight);
                    border-color: var(--data_site_theme_highlight);

                    i {
                        color: var(--data_site_text_color);
                    }
                }

                > a {
                    @include flexbox;
                    @include align-item-center;

                    .jkm-left {
                        margin-right: 10px;

                        @media only screen and (min-width: $device-xl) {
                            margin-right: 5px;
                        }

                        @media only screen and (min-width: $container-xl) {
                            margin-right: 10px;
                        }
                    }

                    .jkm-right {
                        font-size: 8px;
                        margin-left: 10px;

                        @media only screen and (min-width: $device-xl) {
                            margin-left: 5px;
                        }

                        @media only screen and (min-width: $container-xl) {
                            margin-left: 10px;
                        }
                    }

                    &:hover {
                        color: var(--data_site_secondary_color);
                    }
                }

                &:hover {
                    .menu-section {
                        @include flexbox;
                        margin-top: 46px;

                        @media only screen and (min-width: $device-xl) {
                            margin-top: 0;
                        }
                    }
                }

                .menu-section {
                    position: absolute;
                    width: 100%;
                    overflow: hidden;
                    top: 0;
                    left: -100%;
                    margin: auto;
                    @include flexbox;
                    z-index: 11;
                    background: var(--data_site_theme_color);
                    height: calc(100% - 46px);
                    margin-top: 46px;
                    min-height: auto;
                    overflow: auto;

                    @media only screen and (min-width: $device-xl) {
                        min-height: 565px;
                        width: 90%;
                        top: 100%;
                        height: auto;
                        left: 0;
                        right: 0;
                        display: none;
                        margin-top: 0;
                        height: 100%;
                    }

                    @media only screen and (min-width: $container-lg) {
                        width: 80%;
                    }

                    &.active {
                        left: 0;
                        @include transition(0.5s, ease-in);
                        z-index: 99999;
                    }

                    .left-section {
                        width: 100%;
                        // background: var(--data_site_theme_highlight);
                        position: relative;

                        @media only screen and (min-width: $device-xl) {
                            background: var(--data_site_theme_highlight);
                            overflow: auto;
                        }

                        > ul {
                            @include flexbox;
                            @include flexColumn;

                            // padding: 15px;
                            @media only screen and (min-width: $device-xl) {
                                overflow: auto;
                                padding: 25px;
                                max-height: 565px;
                            }

                            @media only screen and (min-width: $container-xl) {
                                padding: 35px 50px;
                            }

                            > li {
                                // position: relative;
                                @include flexbox;

                                @media only screen and (min-width: $device-xl) {
                                    position: static;
                                }

                                i {
                                    margin-left: auto;
                                    font-size: 13px;

                                    @media only screen and (min-width: $device-xl) {
                                        @include opacity(0);
                                    }
                                }

                                &:hover {
                                    i {
                                        @include opacity(1);
                                        @include flexbox;
                                    }
                                }

                                > a {
                                    width: calc(100% - 45px);
                                    padding: 15px;
                                    display: inline-block;
                                    @include flexbox;
                                    @include align-item-center;
                                    border-bottom: 1px solid var(--data_border_color);

                                    @media only screen and (min-width: $container-xl) {
                                        padding: 14px 15px;
                                        width: 100%;
                                    }

                                    @media only screen and (min-width: $device-xl) {
                                        width: 207px;
                                        // @include just-center;
                                        border: none;
                                        position: relative;
                                    }

                                    .jkm-arrow-right {
                                        width: 45px;
                                        height: 55px;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        @include flexbox;
                                        @include align-item-center;
                                        @include just-center;
                                        z-index: 99;
                                        border-bottom: 1px solid var(--data_border_color);
                                        cursor: pointer;

                                        @media only screen and (min-width: $device-xl) {
                                            height: 55px;
                                            border-bottom-color: transparent;
                                        }
                                    }
                                }

                                &:hover {
                                    .right-section {
                                        @include flexbox;
                                    }
                                }

                                .right-section {
                                    width: 100%;
                                    padding: 15px;
                                    @include flexbox;
                                    position: absolute;
                                    top: 0;
                                    left: -100%;
                                    background: var(--data_site_theme_color);
                                    // display: none;
                                    bottom: 0;
                                    overflow: auto;
                                    @include flexColumn;
                                    z-index: 99999;

                                    &.active {
                                        left: 0;
                                        @include transition(0.5s, ease-in);
                                    }

                                    @media only screen and (min-width: $device-xl) {
                                        display: none;
                                        @include flexrow;
                                        height: auto;
                                        bottom: auto;
                                    }

                                    @media only screen and (min-width: $device-lg) {
                                        width: 90%;
                                        width: calc(100% - 257px);
                                        left: 257px;
                                    }

                                    @media only screen and (min-width: $container-lg) {
                                        padding: 50px;
                                        width: calc(100% - 307px);
                                        left: 307px;
                                    }

                                    &:hover {
                                        @include flexbox;
                                    }

                                    .product-details {
                                        width: 100%;
                                        @include flexbox;
                                        @include flexwrap;

                                        @media only screen and (min-width: $device-xl) {
                                            width: 68%;
                                            padding-right: 50px;
                                        }

                                        .detail-wrapper {
                                            display: block;
                                            margin-bottom: 15px;
                                            width: 100%;

                                            @media only screen and (min-width: $device-xl) {
                                                display: inline-block;
                                                width: auto;
                                            }

                                            &:first-child {
                                                @media only screen and (min-width: $device-xl) {
                                                    width: 50%;
                                                }

                                                li {
                                                    width: calc(50% - 2px);
                                                    display: inline-block;

                                                    @media only screen and (min-width: $device-xl) {
                                                        width: 100%;
                                                    }

                                                    @media only screen and (min-width: $container-lg) {
                                                        width: calc(50% - 2px);
                                                    }
                                                }

                                                @media only screen and (min-width: $device-xl) {
                                                    width: 30%;
                                                }

                                                @media only screen and (min-width: $container-lg) {
                                                    width: 50%;
                                                }
                                            }

                                            &:nth-child(2) {
                                                width: 100%;

                                                @media only screen and (min-width: $device-xl) {
                                                    width: 50%;
                                                }

                                                @media only screen and (min-width: $container-lg) {
                                                    width: 32%;
                                                }
                                            }

                                            &:nth-child(3) {
                                                width: 100%;

                                                @media only screen and (min-width: $device-xl) {
                                                    width: 20%;
                                                }

                                                @media only screen and (min-width: $container-lg) {
                                                    width: 18%;
                                                }
                                            }

                                            h5 {
                                                font-size: 18px;
                                                color: var(--data_site_text_color);
                                                border-bottom: 1px solid var(--data_border_color);
                                                padding-bottom: 10px;
                                                margin-bottom: 15px;

                                                @media only screen and (min-width: $device-xl) {
                                                    padding-bottom: 15px;
                                                    margin-bottom: 10px;
                                                    font-size: 14px;
                                                }

                                                @media only screen and (min-width: $container-lg) {
                                                    padding-bottom: 30px;
                                                    margin-bottom: 20px;
                                                    font-size: 18px;
                                                }
                                            }

                                            ul {
                                                li {
                                                    width: 100%;
                                                    margin-bottom: 10px;

                                                    @media only screen and (min-width: $container-xl) {
                                                        margin-bottom: 15px;
                                                    }

                                                    a {
                                                        display: inline-block;
                                                    }
                                                }
                                            }
                                        }

                                        .btn {
                                            width: 100%;
                                            max-width: 100%;
                                            @include just-center;
                                            margin-top: auto;
                                        }
                                    }

                                    .product-image {
                                        width: 100%;
                                        margin-top: 25px;

                                        @media only screen and (min-width: $device-xl) {
                                            width: 32%;
                                        }

                                        .image {
                                            padding: 30% 50%;
                                            overflow: hidden;
                                            position: relative;
                                            display: block;
                                            @include border-radius(10px);
                                            border: 1px solid var(--data_border_color);

                                            img {
                                                position: absolute;
                                                inset: 0;
                                                object-fit: cover;
                                                height: 100%;
                                                width: 100%;
                                            }

                                            &::after {
                                                content: "";
                                                background-image: linear-gradient(180deg, #00000000 0%, #000000 100%);
                                                position: absolute;
                                                inset: 0;
                                            }

                                            & + .image {
                                                margin-top: 25px;

                                                @media only screen and (min-width: $device-xl) {
                                                    margin-top: 22px;
                                                }

                                                @media only screen and (min-width: $container-lg) {
                                                    margin-top: 32px;
                                                }
                                            }

                                            h4 {
                                                position: absolute;
                                                @include textCenter;
                                                color: var(--data_site_highlight_section_text_color);
                                                left: 0;
                                                right: 0;
                                                bottom: 40px;
                                                z-index: 1;

                                                @media only screen and (min-width: $device-xl) {
                                                    bottom: 20px;
                                                }

                                                @media only screen and (min-width: $container-lg) {
                                                    bottom: 40px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.single-menu-item {
                overflow: visible;

                > li {
                    .menu-section {
                        .left-section {
                            > ul {
                                li {
                                    a {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                @media only screen and (min-width: $device-xl) {
                    > li {
                        position: relative;

                        .menu-section {
                            width: 200px;
                            height: auto;
                            max-height: calc(90vh - 147px);
                            min-height: auto;

                            .left-section {
                                > ul {
                                    padding: 5px 0;
                                    max-height: initial;

                                    li {
                                        a {
                                            padding: 10px 15px;
                                            line-height: initial;
                                            width: 100%;
                                        }

                                        i {
                                            display: none !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header Menu Seach Button with input select - Start
.search-icon {
    position: relative;
}

.search-box {
    // margin-right: 40px;
    // width: 100%;
    // max-width: 82%;
    // flex: 0 0 82%;
    // position: relative;
    // @media only screen and (max-width: $device-lg) {
    //   margin-right: 25px;
    //   max-width: 300px;
    //   flex: 0 0 300px;
    // }
    // @media only screen and (max-width: $device-xl) {
    //   margin-right: 15px;
    //   max-width: 250px;
    //   flex: 0 0 250px;
    // }
    // @media only screen and (max-width: $device-xl) {
    //   max-width: 210px;
    //   flex: 0 0 210px;
    // }
    // @media only screen and (max-width: $device-lg) {
    //   max-width: calc(100% - 32px);
    //   flex: 0 0 calc(100% - 32px);
    //   margin: 16px 16px 0;
    // }
    width: 100%;
    z-index: 11111;
    position: relative;

    @media only screen and (min-width: $device-xl) {
        max-width: 225px;
        min-width: 225px;
        right: 0;
        position: absolute;
        bottom: -40px;
    }

    // @media only screen and (min-width: $container-xl) {
    //     bottom: -20px;
    // }
    .search-input {
        border: none;
        outline: none;
        background-color: var(--data_site_theme_color);
        width: 100%;
        min-height: 50px;
        padding: 7px 55px 7px 14px;
        line-height: 36px;
        border: 1px solid var(--data_border_color);

        @media only screen and (max-width: $device-xl) {
            min-height: 40px;
            padding: 7px 42px 7px 10px;
            line-height: 26px;
        }
    }

    .suggestion-searchbox {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--data_site_theme_color);
        border: 1px solid var(--data_border_color);
        border-top: 0;
        display: none;
        z-index: 2;

        .searching-list {
            li {
                a {
                    padding: 8px 14px;
                    display: inline-block;
                    border-bottom: 1px solid #ced4da;
                    width: 100%;
                    font-size: 14px;

                    &:hover {
                        background: lightgray;
                    }
                }
            }
        }

        .default-list {
            padding: 14px;

            li {
                margin-bottom: 5px;

                &.disabled {
                    span {
                        @include opacity(0.5);
                        pointer-events: none;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }

                a {
                    @include body5;

                    &:hover {
                        color: var(--data_button_primary_color);
                    }
                }
            }
        }
    }

    &.suggestion-open {
        .suggestion-searchbox {
            display: block;
        }
    }

    .search-button {
        position: absolute;
        right: 15px;
        top: 14px;
        z-index: 1;

        @media only screen and (max-width: $device-xl) {
            right: 10px;
            top: 11px;
        }

        .jkm-search {
            font-size: 20px;

            @media only screen and (max-width: $device-xl) {
                font-size: 16px;
            }
        }
    }
}

// Header Menu Seach Button with input select - End
.btn {
    @include button;

    &.btn-primary {
        @include btn-primary;
    }

    &.btn-secondary {
        @include btn-secondary;
    }

    &.btn-small {
        @include btn-small;
    }

    &.btn-medium {
        @include btn-medium;
    }
}

.customise-product-modal {
    select {
        background: var(--data_site_theme_color) url(../images/icons/arrow-down.svg) no-repeat 95% center;
        background-size: 10px;
        -webkit-appearance: none;
        appearance: none;
    }
}