@import "../common/mixin-2";

.jkms2-eye {
    @include jkms2-eye;
}

.jkms2-play-icon {
    @include jkms2-play-icon;
}

.jkms2-add-to-cart {
    @include jkms2-add-to-cart;
}

.jkms2-heart {
    @include jkms2-heart;
}

.jkms2-compare {
    @include jkms2-compare;
}

.product-section {
    @include float-content-width(74.4%, left, 992px, var(--data_site_highlighted_color));
    margin-bottom: 20px;
}

.jkms2-arrow-right {
    @include jkms2-arrow-right;
}

.product-pagination {
    @include pagination;
}

.listing-sec {
    margin-top: 60px;
}

.row {
  @include row;
  margin: 0 -10px;

  @media only screen and (min-width: $device-sm) {
    margin: 0 -15px;
  }

  @media only screen and (min-width: $device-xl) {
    margin: 0 -20px;
  }

  .d-col {
    &.d-col-3 {
      @include d-col-3;
      width: 50%;
      padding: 0 5px;
  
      @media only screen and (min-width: $device-sm) {
        padding: 0 15px;
      }
  
      @media only screen and (min-width: $device-xl) {
        padding: 0 20px;
      }
    }
  }

}
.card {
  .card-head {
    .product-overlay {
      @media only screen and (max-width: $device-md) {
        bottom: -40px;
        top: auto !important;
        height: auto !important;
        width: auto !important;
        visibility: visible;
        .overlay-link {
          padding: 7px;
          &:not(:last-child) {
            margin-right: 10px;
          }
          i {
            font-size: 12px;
          }
        }
      }
    }
  }
  .card-body {
    margin-top:50px;
    border-top: 1px solid var(--data_border_color);
    @media only screen and (min-width: $device-md) {
      margin-top: 0;
      border-top: 0;
    }
  }
}

.products-results {
    @include flexbox;
    @include align-item-center;
    @include justifyCenter;
    @include flexwrap;
    @include textCenter;
    margin-bottom: 30px;

    @media only screen and (min-width: $device-md) {
        text-align: unset;
        @include space-between;
    }

    .left-section {
        width: 100%;
        margin-bottom: 15px;

        @media only screen and (min-width: $device-md) {
            width: auto;
            margin-bottom: 0;
        }

        p {
            @include font-family(var(--data_site_font_primary), 400);
            @include font-detail(20px, 27px);
            @include mb-0;
        }
    }

    .right-section {
        width: 100%;

        @media only screen and (min-width: $device-md) {
            width: auto;
        }

        .sort-label {
            margin-right: 10px;
        }

        select {
            @include border-radius(5px);
            @include font-detail(16px, 20px);
            @include custom-selectbox(var(--data_site_text_color), var(--data_border_color));
            @include bg-arrow(transparent, url(../../images/icons/arrow-down.svg), no-repeat, 90%, center);
            min-width: 200px;

            &:hover,
            &:focus {
                border: 1px solid var(--data_button_primary_color);
            }

            @media only screen and (min-width: $device-lg) {
                @include font-detail(18px, 22px);
            }
        }
    }
}

.badge-wrapper {
    @include position(absolute);
    @include positon-top(0px);
    @include positon-left(0px);
    @include flexbox;
    @include flexColumn;
    @include align-item-start;
    gap: 3px;
    z-index: 1;
  
    @media only screen and (min-width: $device-sm) {
      gap: 5px;
    }
  
    .badge {
      @include badge(auto, 3px, 7px, inline-block);
      @include font-detail(11px, normal);
      @include positon-left(0);
      @include textCenter;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  
      @media only screen and (min-width: $device-sm) {
        @include badge(auto, 4px, 8px, inline-block);
        @include font-detail(13px, normal);
      }
    }
  
    .discount-badge {
      @include discount-badge(var(--data_site_primary_color),
        var(--data_site_theme_color));
    }
  
    .badge-featured {
      background: var(--data_site_secondary_color);
      color: var(--data_site_theme_color);
      display: flex;
      align-items: center;
      gap: 5px;
      background: var(--tag-bg-color);
      color: var(--data_site_theme_color);
  
      .product-tag-img {
        display: block;
        @include position(relative);
        padding: 5px 7px;
  
        @media only screen and (min-width: $device-sm) {
          padding: 7px 10px;
        }
  
        img {
          width: auto;
          height: 16px;
          position: static;
          margin: 0px 0;
          vertical-align: top;
          @include position(absolute);
          @include positon-top(-3px);
          @include positon-left(0px);
          object-fit: contain;
  
          @media only screen and (min-width: $device-sm) {
            @include positon-top(-4px);
            height: 20px;
          }
        }
      }
    }
  
    .out-of-stock-badge {
      @include discount-badge(var(--data_error_color),
        var(--data_site_theme_color));
    }
  }

// .badge {
//     @include badge(100px, 10px, 21px, inline-block);
//     @include font-detail(14px, 17px);
//     @include position(absolute);
//     @include positon-top(20px);
//     @include positon-left(0);
//     @include textCenter;
// }

// .discount-badge {
//     @include discount-badge(var(--data_site_primary_color), var(--data_site_theme_color));
// }