@import "../common/_variable";
@import "../common/_mixin";

.modal {
    @include modal-popup;

    &.modal-active {
        @include flexbox;
    }
}

.pop-up-container {
    @include modal-container;

    .modal-wrapper {
        @include modal-wrapper;
    }

    .jkm-close {
        @include modal-icon-close;
    }

    .line {
        max-width: 120px;
        width: 100%;
        height: 3px;
        margin: 20px auto;
        background: var(--data_site_text_color);

        @media only screen and (min-width: $device-lg) {
            margin: 30px auto;
        }
    }

    .modal-header {
        @include textCenter;
    }
}