// Screen Sizes
$device-xs: 320px;
$device-sm: 425px;
$device-md: 768px;
$device-lg: 1024px;
$device-xl: 1400px;
$container: 1421px;

$primary-color: #355c9e;
$white-color: #ffffff;
$grey-color: #3d3d3d;
$light-grey: #434343;
$black-color: black;
$light-color: #bebebe;

$Playfair: 'Playfair Display';
$Montserret: 'Montserrat';
$surferbay: 'Surfer Bay';
