// === Font Family ===

$primary-font-family: "Poppins", "Verdana", "Geneva", "sans-serif";

// === App color variable ===

$primary-color: #1B76FE;
$secondary-color: #191D26;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #1A2D5A;
$text-color-1: #002073;
$text-color-2: #0087C9;
$text-label-color: #0053ce;
$text-label-color-2: #03A7F8;
$text-label-color-3: #0058A5;
$border-color: #D9D9D9;
$border-color-2: #F4F4F4;
$border-color-3: #ebebeb;
$border-color-4: #1A2D5A;
$border-color-5: #F2F2F2;
$border-color-6: #DEEBFF;
$border-color-7: #e4e2e2;
$error-red: #ff0000;
$facebook-color: #4867aa;
$youtube-color: #ff0101;
$twitter-color: #1da1f2;
$instagram-color: #f60197;
$linkedin-color: #0077b5;
$success-color: #0c9f4a;
$title-color: #787878;
$bg-color: #202020;

$yellow-color: #FFD600;

$bodyColor: #2a2d34;
$gray-darker: #909090;
$gray-dark: #ededed;
$gray: #f8f8f8;
$gray-light: #f3f3f3;
$gray-lighter: #f4f4f4;
$gray-f1: #f1f1f1;
$gray-f7: #f7f7f7;
$gray-f5: #f5f5f5;
$gray-dc: #dcdcdc;
$gray-eq: #eaeaea;
$blue: #0058A5; // Remove
$blue-light: #0f75b9;
$dark-blue: #2e4183;
$blue-dark : #0033a1;
$light-blue: #235395;
$title-blue: #25306b;

$label-color: #6f6f6f;
$orange: #ff4242;
$dark-orange: #E8612A;
$stone-color: #242021;
$stone-light: #2f2f2f;
$cream-color: #d6985c;
$cream-dark: #d18c4a;
$fb: #3b5999;
$fb1: #b8bed6;
$twt: #55acef;
$linkedIn: #007ab9;
$insta: #6a453c;
$youTube: #dc4e42;
$red: #e01212;

$gray-c5: #c5c5c5;
$gray-df: #dfdfdf;
$gray-53: #535353;
$cyan-blue: #002f4f;
$dark-gray: #727272;
$button-blue: #0058A5;

$badge: #2446C2;

// ------------------------------------------------------
// #Color Code list

// #030918
// #191D26
// #1A2D5A
// #0B2254
// #00237E
// #0058A5
// #1971F5
// #1B77FF
// #1B76FE - Added
// #6FA8FF
// #FFD600 - Added
// #000000 - Added
// #FFFFFF - Added
// #D9D9D9
// #E0ECFF
// #EBEBEB
// #E2ECF4
// #E1EDFF
// #F6F9FF
// #ECF3FF
// #FF0000