<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="login-form">
      <h1>Login</h1>
      
      <div>
        <label for="email">Email</label><br />
        <input id="email" type="email" name="email" [(ngModel)]="email" required  />
      </div>
      
      <div>
        <label for="password">Password</label><br />
        <input id="password" type="password" name="password" [(ngModel)]="password" required  />
      </div>
      
      <button type="submit" [disabled]="loginForm.invalid" class="submit"  [ngClass]="{'invalid-form': loginForm.invalid}">Login</button>
    </div>
  </form>
  