@import "../common/fonts";
@import "../common/variable";
@import "../common/mixin";
@import "../layout/formControl";
@import "../layout/button";
@import "../common/common";
body{
    background-color: $white-color;
}
.login-card{

    @include container(sm);
    padding-top: 40px;
    padding-bottom: 40px;

    @include media($device-md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include media($device-lg) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .password-form-group{
        margin-bottom: 10px;
    }

    .login-btn{
        min-width: 166px;
    }

    .btn-group{
        @include flexbox;
        gap: 20px;

        @include media($device-md) {
            gap: 30px;
        }
    
        @include media($device-lg) {
            gap: 40px;
        }

        .btn{
            max-width: 138px;
            min-width: 138px;
        }
    }

}