@import "../common/fonts";
@import "../common/variable";
@import "../common/mixin";
@import "../common/common";
@import "../layout/formControl";
@import "../layout/button";
body{
    background-color: $white-color;
}
.contact-us-wrapper {
   .contact-from-inner {
        padding: 40px 0;
        @include media($device-md) {
            padding: 60px 0;
        }
        @include media($device-lg) {
            padding: 80px 0;
        }
        @include media($device-xxl) {
            padding: 100px 0;
        }
        .contact-row {
            @include row(1,0px,0px);
            @include media($device-md) {
                @include row(2,0px,40px);
            }
        }
        textarea {
            &.form-control {
                min-height: 140px;
            }
        }
   } 
}