@import "../common/fonts";
@import "../common/variable";
@import "../common/mixin";
@import "../common/common";
@import "../layout/formControl";
@import "../layout/button";

header{
    display: none;
}
body{
    padding: 0;
    background-color: $white-color;
}