@import "../common/fonts";
@import "../common/variable";
@import "../common/mixin";
@import "../layout/formControl";
@import "../layout/button";
@import "../common/common";

.spacing-20 {
    margin-bottom: 20px;
}
.my-account-wrapper {
    .my-account-inner {
        padding: 50px 0;
        h1 {
            margin-bottom: 28px;
        }
        .card-wrapper {
            padding: 30px 20px;
            @include border-radius(8px);
            @include box-shadow(0px, 0px, 50px, $black-shade-4);
            background-color: $white-color;
            flex: 1;
            height: 100%;
            .social-icon{
                @include social-icon(left,large,$title-text);
                .social-icon-btn{
                    &.youtube{
                        background-color: transparent;
                    }
                }
            }
            @include media($device-md) {
                padding: 40px;
            }      
            .row {
                @include flexbox();
                flex-wrap: wrap;
                margin: 0 -20px;
                div{
                    width: auto;
                }
                .col {
                    padding: 0 20px;
                }
                .col-8 {
                    @include flex-basis(100%);
                    margin-bottom: 30px;
                    @include media($device-md) {
                        @include flex-basis(50%);
                        margin-bottom: 0;
                    }
                    @include media($device-lg) {
                        @include flex-basis(67.552%);
                    }
                }
                .col-4 {
                    @include flex-basis(100%);
                    @include media($device-md) {
                        @include flex-basis(50%);
                    }
                    @include media($device-lg) {
                        @include flex-basis(32.448%);
                    }
                    .greyCard {
                        padding: 30px 20px;
                        background: #8C8C8C0D;
                        border: 1px solid #7070701C;
                        border-radius: 4px;
                        @include media($device-md) {
                            padding: 30px;
                        }
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
                .col-3 {
                    @include flex-basis(100%);
                    @include media($device-md) {
                        @include flex-basis(50%);
                    }
                    @include media($device-lg) {
                        @include flex-basis(33.33%);
                    }
                }
            }
            .title {
                @include font-sm;
            }
            .content {
                color: $body-text;
            }
            .innerCard-wrapper {
                background: $white-color;
                border: 1px solid $billowing-clouds;
                border-radius: 8px;
                padding: 30px 20px;
                @include media($device-md) {
                    padding: 30px;
                }
                &:last-child{
                    margin-bottom: 0 !important;
                }
                .row {
                    margin: 0 -20px;
                    @include row-justify-center;
                    height: 100%;
                    @include media($device-md) {
                        margin: 0 -30px;
                        @include row-justify-start;
                    }
                    .btn{
                        margin-bottom: 20px;
                        @include media($device-md) {
                            margin-bottom: 0;
                        }
                    }
                    .col30 {
                        padding: 0 20px;
                        &:not(:last-child) {
                            margin-bottom: 20px;
                            @include media($device-xl) {
                                margin-bottom: 0;
                            }
                        }
                        @include media($device-md) {
                            @include flex-basis(50%);
                        }
                        @include media($device-xl) {
                            @include flex-basis(33.33%);
                            padding: 0 30px;
                        }
                        &.mt-n20 {
                            margin-top: 0;
                            @include media($device-md) {
                                margin-top: -20px;
                            }
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .border-right {
                        border-right: 1px solid $billowing-clouds;
                    }
                    .col-inner {
                        @include flexbox();
                        gap: 20px;
                        @include row-space-between;
                        @include row-align-items;
                    }
                    &.row15 {
                        margin: 0 -15px -16px;
                        @include media($device-md) {
                            margin: 0 -15px -30px;
                        }
                        .col15 {
                            padding: 0 15px;
                        }
                    }
                    .pt-10 {
                        padding-top: 0;
                        @include media($device-md) {
                            padding-top: 10px;
                        }
                    }
                    &.row30 {
                        .col30 {
                            margin-bottom: 0;
                            &:last-child {
                                @include media($device-md) {
                                    @include flex-basis(100%);
                                }
                                @include media($device-xl) {
                                    @include flex-basis(33.33%);
                                }
                            }
                        }
                    }
                }
                .divider-line {
                    border-bottom: 1px solid $billowing-clouds;
                    padding-top: 30px;
                    margin-bottom: 30px;
                }
            }
            &.social-wrapper {
                .social-row,
                .social-titlebar {
                    @include flexbox();
                    gap: 30px 0;
                    flex-direction: column;
                    @include media($device-sm) {
                        flex-direction: row;
                        gap: 0 30px;
                        @include row-align-items;
                    }
                    div {
                        &:first-child {
                            max-width: 100%;
                            width: 100%;
                            @include media($device-sm) {
                                max-width: 50%;
                            }
                            @include media($device-xl) {
                                max-width: 70%;
                            } 
                            @include media(1500px) {
                                max-width: 1030px;
                            } 
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
                .title {
                    color: $label-color;
                }
                .sub-title {
                    font-weight: 600;
                }
            }
        }
    }
}


.youtube-auth{
    padding: 30px;

    .btn {
        margin: auto;

        &.opacity{
            opacity: 0;
        }
    }
}