@import '../common/fonts';
@import '../common/variable';
@import '../common/mixin';
@import '../common/modal';
@import '../common/table';
@import '../layout/formControl';
@import '../layout/button';
@import '../common/common';
@import '../components/date-picker-coreui.scss';

.ReactModal__Content {
	.rejected-products-modal-body{
		&.modal-body{
			padding: 0;
			border: 0;
		}
	}
	.drag-and-drop-modal {
		@include flexCenter;
		flex-direction: column;
		padding: 30px 20px;

		@include media($device-md) {
			min-height: 450px;
		}

		@include media($device-xxxl) {
			min-height: 698px;
		}

		.drag-and-drop-icon {
			aspect-ratio: 1;
			object-fit: contain;
			height: 80px;

			@include media($device-md) {
				height: 155px;
			}
		}
	}
}
.add-product-row {
	@include row(1, 0px, 0px);
	@include media($device-md) {
		@include row(3, 30px, 30px);
	}
}
.add-product-three-row {
	@include row(1, 0px, 0px);
	@include media($device-md) {
		@include row(2, 30px, 30px);
	}

	textarea {
		min-height: 146px;
	}
}

.product-variants-title {
	@include font-sm;
}

.upload-csv-btn {
	position: relative;
	input {
		position: absolute;
		inset: 0;
		cursor: pointer;
		z-index: 1;
		opacity: 0;
	}
}

.product-catalog-wrapper {
	padding: 50px 0;
	.row {
		@include row-align-items;
		justify-content: end;
		@include row(1, 20px, 0px);
		@include media($device-md) {
			@include row(2, 0px, 0px);
			justify-content: end;
		}
		&.modalButton-row {
			justify-content: center;
			flex-direction: row;
			gap: 10px;
			@include media($device-md) {
				@include row(2, 30px, 30px);
				justify-content: end;
			}
			.btn{
				.icon{
					display: none;
					@include media($device-md) {
						display: inline-flex;
					}
				}

			}
		}
		h1 {
			text-align: center;
			@include media($device-md) {
				text-align: left;
			}
		}
	}
	.card {
		@include card(lg, true, false);
		&.product-catalog {
			form {
				max-width: 400px;
				width: 100%;
				margin-left: auto;
			}
			.search-form-group {
				.icon-search {
					color: $black-color;
					font-size: 18px;
				}
			}
			.r-col {
				@include flexbox();
				.r-colinner {
					@include flexbox();
					margin-left: auto;
					position: relative;
				}
			}
			.table-responsive {
				table{
					min-width: 1300px;
					.th-specifications{
						min-width: 200px;
					}
				}
				tbody {
					position: relative;
				}
				.checkTable {
					tr {
						th,
						td {
							&:first-child {
								padding-right: 0;
								width: 70px;
								.checkbox-tick {
									margin-right: 0;
									border-color: $blue-fantastic;
								}
							}
							&:nth-child(2) {
								width: 300px;
								@include media($device-xl) {
									width: 800px;
								}
							}
						}
						th {
							.checkAll-col {
								@include flexbox();
								@include row-align-items;
								.check-dd {
									font-size: 8px;
									margin-left: 10px;
									cursor: pointer;
									@include media($device-lg) {
										margin-left: 24px;
									}
								}
								.custom-checkbox{
									.checkbox-tick{
										top: 0;
									}
								}
							}
							&:last-child {
								width: 150px;
							}
						}
						td {
							color: $label-color;
							.nameCol {
								@include flexbox();
								gap: 0 12px;
								@include row-align-items;
								.namecol-img {
									width: 100%;
									height: 60px;
									max-width: 100px;
									flex: 0 0 60px;
									@include border-radius(4px);
									@include media($device-xl) {
										height: 85px;
										max-width: 135px;
										flex: 0 0 135px;
									}
									img {
										height: 100%;
										object-position: left;
									}
								}
							}
							.prodDesc {
								p {
									.more,
									.lessText {
										display: none;
									}
									.lessText {
										padding-left: 5px;
									}
									.moreLink {
										color: $blue-shade-1;
										span {
											line-height: 1;
											span {
												&:first-child {
													text-decoration: underline;
												}
												&.icon {
													font-size: 8px;
													padding-left: 5px;
													vertical-align: middle;
												}
											}
										}
									}
								}
								&.show {
									p {
										margin-bottom: 0;
										.dots,
										.moreText {
											display: none;
										}
										.more,
										.lessText {
											display: inline;
											@include transition(all, 0.3s, ease-in-out);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.add-user-row {
	@include row(1, 0px, 0px);
	@include media($device-md) {
		@include row(3, 0px, 30px);
	}
}
.catalog-description-thead{
	max-width: 500px;
	width: 500px;
}
