@import "../common/mixin";

img {
  @include img-common;
}

.jkm-mail1 {
  @include jkm-mail1;
}

.jkm-meta {
  @include jkm-meta;
}

.jkm-instagram {
  @include jkm-instagram;
}

.jkm-linkedin {
  @include jkm-linkedin;
}

.jkm-whatsapp {
  @include jkm-whatsapp;
}

.jkm-youtube {
  @include jkm-youtube;
}

.jkm-visa {
  @include jkm-visa;
}

.jkm-check {
  @include jkm-check;
}

.btn {
  @include button;

  &.btn-primary {
    @include btn-primary;
  }

  &.btn-secondary {
    @include btn-secondary;
  }

  &.btn-small {
    @include btn-small;
  }

  &.btn-medium {
    @include btn-medium;
  }

  &.btn-icon {
    @include btn-icon;
  }
}

*,
*::before,
*::after {
  @include box(border-box);
}

body {
  @include body-common;
}

main,
aside,
section {
  display: block;
}

img,
a,
input,
textarea,
p {
  @include space-none;
}

a {
  @include anchor-link-common;
}

ul,
li {
  @include order-unoderlist;
}

img {
  @include img-common;
}

main {
  @include main;
}

.container {
  @include container;
}

section {
  @include section;
}

p {
  margin-bottom: 30px;
}

.sort-info-conatainer {
  @include mb-30;
}

.sidebar-section {
  @include float-content-width(32%,
    right,
    992px,
    var(--data_site_theme_highlight));
  padding: 20px 15px;
  background: var(--data_site_theme_highlight);

  @media only screen and (min-width: $device-sm) {
    padding: 30px;
  }
}

.main-content {
  @include float-content-width(66%, left, 992px, var(--data_site_theme_color));
}

.progress-bar {
  @include progress-bar;
  @include mb-50;
  z-index: 1;
}

.order-confirmation-wrap {
  margin-bottom: 50px;

  @media only screen and (min-width: $device-md) {
    margin-bottom: 80px;
  }

  @media only screen and (min-width: $device-xl) {
    margin-bottom: 134px;
  }
}

.address-content {
  .address-content-para {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.payment-info {
  border-bottom: 1px solid var(--data_border_color);
  padding-bottom: 15px;

  @media only screen and (min-width: $device-md) {
    padding-bottom: 20px;
  }

  @media only screen and (min-width: $device-xl) {
    padding-bottom: 30px;
  }
}

.form-group {
  @include formgroup;
  @include mb-30;

  label {
    @include label;
  }

  .form-control {
    @include formcontrol;
  }
}