$device-xs: 320px;
$device-xsmall: 375px;
$device-sm: 576px;
$device-md: 768px;
$device-lg: 1024px;
$device-xl: 1200px;
$container: 1560px;
$container-main: 1560px;
$container-lg: 1700px;
$container-xl: 1900px;