.scrollable-tree-container {
    :global {
        .p-tree {
            @apply p-0 border-none;
    
            .p-tree-container {
                .p-treenode {
                    .p-treenode-content {
                        .p-tree-toggler {
                            @apply ml-0;
    
                            &:focus {
                                @apply outline-none shadow-none;
                            }
                        }
                        
                        .p-checkbox {
                            @apply mr-1;
                        }
    
                        &.p-highlight {
                            @apply text-baseColor bg-white;
                        }
    
                        &:focus {
                            @apply outline-none shadow-none;
                        }
                    }
                }
            }
        }
    
        .p-checkbox {
            .p-checkbox-box {
                height: 18px;
                width: 18px;
                @apply border rounded-extra-5 ;
    
                .p-checkbox-icon.p-icon {
                    left: 2px;
                    @apply relative;
                }
    
                &.p-highlight {
                    @apply border-primary bg-primary;
                }
            }
        }
    }
}
    