header {
	width: 100%;
	position: absolute;
	z-index: 9;
	color: white;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	padding: 10px 150px;
}

.navbar {
	margin-top: auto;
	height: 100%;
	ul {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: $medium) {
			li {
				a {
					display: none;
				}
			}
		}
		li {
			@include navigation;

			&::before {
				margin-left: 25px;
				content: '';
			}
			&::after {
				margin-right: 25px;
				content: '';
			}
			span {
				&:hover {
					color: $primary-color;
				}
				&::before {
					margin-left: 25px;
				}
				&::after {
					margin-right: 25px;
				}
			}
		}
	}
}
