 
@import "../common/mixin";

.forgot-password-section{
    @include section-bottom-spacing;
    
    h2 {
        @include h2;
		color: var(--data_site_text_color);
		margin-bottom: 20px;
		text-align: center;
		@include md {
            margin-bottom: 30px;
		}
		@include lg {
            margin-bottom: 40px;
		}
	}
    .p-error {
        @include error;
    }
    
    .forgot-password-content{
        width: 100%;
        @include md{
            width: 50%;
        }
        
        .subtitle-with-border{
            @include subtitle-with-border;
            p{
                max-width: 565px;
                width: 100%;
            }
        }
        
        .forgot-password-form{            
            @include md{
                max-width: 450px;
                width: 100%;
            }

            .form-group{
                @include form-group;
                margin-bottom: 20px;
                @include md{
                    margin-bottom: 30px;
                }
                @include lg{
                    margin-bottom: 40px;
                }
            }

            .btn {
                @include btn;
                width: 100%;
                
                @include sm{
                    width: auto;
                }
                
                &.btn-primary-large {
                    @include btn-primary-large;
                }
            }
        }
        
    }
}