 
@import "../common/mixin";

.set-new-password-section{
    @include section-bottom-spacing;

    .title-center{
        @include title-center;
    }

    .subtitle-with-border{
        @include subtitle-with-border;
    }

    h2{
        @include h2;
    }   
    .p-error {
        @include error;
    } 

    .set-new-password-content{
        width: 100%;
        @include md{
            width: 50%;
        }

        .set-new-password-form{
            margin-top: 6px;
            
            @include md{
                max-width: 491px;
                width: 100%;
                margin-top: 15px;
            }
            
            .form-group{
                @include form-group;
            }

            .ocs-checkbox{
                @include ocs-checkbox;
                width: 100%;
                margin-bottom: 20px;
                @include md{
                    margin-bottom: 30px;
                }
                @include xl{
                    margin-bottom: 40px;
                }
            }

            .btn {
                @include btn;
                width: 100%;
                
                @include sm{
                    width: auto;
                }

                &.btn-primary-large {
                    @include btn-primary-large;
                }
            }
            
        }
    }
}