//no-sonar
@import './mixin';

/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button {
	cursor: revert;
}

ol,
ul,
menu {
	list-style: none;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	-webkit-user-select: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

:where(pre) {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: initial;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable='true']) {
	-webkit-user-drag: element;
}

@layer base {
	html {
		font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-tap-highlight-color: transparent;
		@apply h-full touch-manipulation;
	}

	html,
	body {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		@apply h-full;
	}

	body {
		@apply relative text-sm font-primary font-normal bg-light-gray;
	}

	#root {
		height: 100%;
	}

	a,
	.link {
		@apply no-underline outline-0 text-black;

		&.disabled,
		&[disabled] {
			@apply text-neutral-900 opacity-90;

			&:hover {
				@apply no-underline;
			}
		}
	}

	/*** Heading ***/
	h1,
	.h1 {
		@include font-xl;
	}

	h2,
	.h2 {
		@include font-lg;
	}

	h3,
	.h3 {
		@include font-md;
	}

	h4,
	.h4 {
		@include font-sm;
	}

	h5,
	.h5 {
		@include font-xs;
	}

	h6,
	.h6 {
		@include font-xxs;
	}

	/* List styles */
	.list-decimal,
	.list-disc {
		@apply tracking-normal list-none;
	}

	.unordered-list li,
	.ordered-list li {
		@apply font-normal tracking-normal relative pl-3.5 leading-5 text-sm;
	}

	.unordered-list li:before {
		content: '•';
		@apply absolute top-0 left-0;
	}

	.ordered-list {
		counter-reset: section;
	}

	.ordered-list li {
		@apply pl-5;
	}

	.ordered-list li:before {
		counter-increment: section;
		content: counters(section, '.') '.';
		@apply absolute top-0 left-0;
	}

	.custom-tree-select .p-icon {
		display: none !important;
	}

	.checkbox {
		height: 15px;
		width: 15px;
	}

	::-webkit-scrollbar {
		width: 2px;
		height: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #bcb7b7;
		border-radius: 8px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #c1bbbb;
	}

	[type='checkbox']:checked {
		@apply accent-primary;
	}

	.sidebar-li {
		li:hover {
			svg {
				@apply fill-white text-white;
			}
		}

		.sub-list:hover {
			svg {
				@apply text-white fill-white;
			}
		}
	}

	.date-picker:focus {
		box-shadow: 0px 0px 3px 1px var(--primary);
	}

	.rdrMonthAndYearWrapper,
	.rdrMonthAndYearPickers {
		background-color: var(--primary);
		color: red;
	}

	textarea {
		@apply border-gray-400;
	}

	textarea:focus {
		outline: none !important;
		border-color: var(--primary);
		box-shadow: 0px 0px 3px 1px var(--primary);
	}

	input:focus {
		outline: none !important;
		border-color: var(--primary);
		box-shadow: 0px 0px 3px 1px var(--primary);

		.rct-node-icon {
			display: inline-block;
		}

		.rct-node-leaf {
			margin-left: 30px;
			margin-bottom: 5px;
		}
	}

	#allCheck {
		accent-color: rgb(107, 10, 177);
	}

	.lang {
		top: auto;
		left: auto;
		right: 0px;
	}
	.sidebar-link:hover svg {
		color: white !important;
	}
}

.p-treeselect-panel {
	.p-treeselect-header {
		display: none;
	}
}

.p-multiselect {
	border-radius: 4px !important;
	@apply h-8;
}

.p-multiselect-label {
	padding-left: 0.75rem;
	padding-top: 0.25rem !important;
	font-size: 0.875rem;
}

.p-focus {
	border-color: var(--primary) !important;
	box-shadow: 0px 0px 3px 1px var(--primary) !important;
}

.p-multiselect-token {
	padding: 0px !important;
	font-size: small;
}

.p-multiselect-token-label {
	@apply mx-1 my-0.5 px-1;
}

.p-icon {
	@apply pr-1;
}

.p-inputwrapper {
	width: 100% !important;
}

.p-inputtext {
	height: 36px !important;
	flex-grow: 1;
	border-radius: 4px !important;
	font-size: 14px !important;
}

.p-inputwrapper-focus .p-component {
	border-color: var(--primary) !important;
	box-shadow: 0px 0px 3px 1px var(--primary) !important;
}
