:root {
  // Font Family
  --font-family-primary: 'Noto Sans', sans-serif;

  --font-10: 0.625rem;

  // Theme colors list
  --primary: #bb3f42;
  --secondary: #fe6500;
  --accent: #d9d51c;
  --warning: #ffc107;
  --info: #28d3cd;
  --success: #4dbd74;
  --default: #c8ced3;
  --error: #e0141e;
  --white: #ffffff;
  --black: #000000;
  --bg-light: #efefef;
  --primary-dark: #e01489;
  --gray-1: #4b5563;
  --blue-1: #a0aec0;
}