:root {
  // Font Family
  --font-family-primary: "Noto Sans", sans-serif;

  --font-10: 0.625rem;

  // Theme colors list
  --primary: red;
  --secondary: #fe6500;
  --accent: #d9d51c;
  --warning: #fe6500;
  --info: #28d3cd;
  --success: #a9ca15;
  --default: #008cff;
  --error: #e0141e;
  --white: #ffffff;
  --black: #000000;
  --bg-light: #efefef;
  --primary-dark: #e01489;
  --gray-1: #4b5563;
}
