<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form (ngSubmit)="onCmsSave()" novalidate #cmsFrm="ngForm" InvalidFormScrollNGFormDirective>
          <div class="card-body">
            <p class="col-sm-12 text-right requiredLabel">
              <span [innerHTML]="'FORM_NOTE' | translate"></span>
            </p>
            <div class="form-group" *ngFor="let lan of languages">
              <label for="page_title">{{ 'CONTENT_PAGE_TITLE' | translate }} ({{ lan.name }}) <span
                  class="asterisk_input"></span></label>
              <input appSpaceRemove [(ngModel)]="model.page_title[lan.locale]" [style.direction]="lan.text_direction"
                type="text" name="page_title_{{ lan.locale }}" id="page_title_{{ lan.locale }}" class="form-control"
                appSpaceRemove placeholder="{{ 'CONTENT_PAGE_TITLE' | translate }}" required #title="ngModel" />
              <div class="form-control-feedback text-danger" *ngIf="title.errors && cmsFrm.submitted">
                <p *ngIf="title.errors.required">
                  {{ 'PLEASE_ENTER_CONTENT_PAGE_TITLE' | translate }}
                </p>
              </div>
            </div>
            <div class="form-group" *ngFor="let lan of languages">
              <label for="description">{{ 'DESCRIPTION' | translate }} ({{ lan.name }}) <span
                  class="asterisk_input"></span></label>
              <!-- <input formControlName="description" type="description" id="description" class="form-control" placeholder="Enter Description"> -->
              <ck-editor [(ngModel)]="model.description[lan.locale]" name="description_{{ lan.locale }}"
                skin="moono-lisa" required #description="ngModel" [config]="config"
                (change)="getCKData(lan.locale, lan.text_direction)" language="{{ lan.locale }}"></ck-editor>
              <div class="form-control-feedback text-danger" *ngIf="ck_error[lan.locale] == true && cmsFrm.submitted">
                <p>Please enter cms description</p>
              </div>
            </div>
            <div class="form-group" *ngFor="let lan of languages">
              <label for="meta_keywords">{{ 'META_TITLE' | translate }} ({{ lan.name }}) <span
                  class="asterisk_input"></span></label>
              <input appSpaceRemove [(ngModel)]="model.meta_keywords[lan.locale]" [style.direction]="lan.text_direction"
                name="meta_keywords_{{ lan.locale }}" type="text" id="meta_keywords_{{ lan.locale }}"
                class="form-control" placeholder="{{ 'META_TITLE' | translate }}" required #meta_title="ngModel" />
              <div class="form-control-feedback text-danger" *ngIf="meta_title.errors && cmsFrm.submitted">
                <p *ngIf="meta_title.errors.required">
                  {{ 'PLEASE_ENTER_META_TITLE' | translate }}
                </p>
              </div>
            </div>
            <div class="form-group" *ngFor="let lan of languages">
              <label for="meta_description">{{ 'META_DESCRIPTION' | translate }} ({{ lan.name }}) <span
                  class="asterisk_input"></span></label>
              <input appSpaceRemove [(ngModel)]="model.meta_description[lan.locale]"
                [style.direction]="lan.text_direction" name="meta_description_{{ lan.locale }}" type="text"
                id="meta_description_{{ lan.locale }}" class="form-control"
                placeholder="{{ 'META_DESCRIPTION' | translate }}" required #meta_description="ngModel" />
              <div class="form-control-feedback text-danger" *ngIf="meta_description.errors && cmsFrm.submitted">
                <p *ngIf="meta_description.errors.required">
                  {{ 'PLEASE_ENTER_META_DESCRIPTION' | translate }}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label"> {{ 'STATUS' | translate }} <span class="asterisk_input"></span></label>
              <div class="d-block">
                <div class="form-check-inline"
                  *ngFor="let status of statusList | keyvalue: orderbyValueAsc; let i = index">
                  <label class="form-check-label">{{ status.value | translate }}
                    <input [(ngModel)]="cmsStatus" name="cms_status" class="form-check-input" type="radio"
                      id="cms_status_{{ i }}" [value]="status.key" #cms_status="ngModel" required />
                    <span class="radio-span"></span>
                  </label>
                </div>
                <div class="form-control-feedback text-danger"
                  *ngIf="(cmsFrm?.controls)['cms_status']?.errors && cmsFrm.submitted">
                  <p *ngIf="(cmsFrm?.controls)['cms_status']?.errors.required">{{ 'PLEASE_SELECT_STATUS' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <!-- [disabled]="cmsFrm.invalid || buttonDisable" -->
            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle-o fa-lg"></i> {{ 'SAVE' |
              translate }}</button>&nbsp;
            <a class="btn btn-warning" [routerLink]="['/cms/list']">
              <i class="fa fa-times"></i>
              {{ 'CANCEL' | translate }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>