$primary-color: #1A428A;
$secondary-color: #5FB2E4;
$shadow : #333333;
$text_color: #000000;
$white_color: #ffffff;

$device-xs: 320px;
$device-xm: 480px;
$device-sm: 576px;
$device-md: 768px;
$device-lg: 1024px;
$device-xl: 1200px;
$container: 1430px;
$container-md: 1600px;
$container-lg: 1700px;
$container-xl: 1900px;