$primary-color: #47C489;
$secondary-color: #1979c3;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #575757;
// $gray-color: #3a3a3a;
// $primary-hover-color: #0062d4;
// $text-color: #071b34;
// $light-blue-color: #f3f6fd;
// $dark-gray-color: #9c9baa;
// $border-color: #e2e0e0;
// $off-white-color: #f8f8f8;
// $light-gray-color: #d6dadf;
// $red-color: #e3281c;
// $green-color: #5abf66;

$font-family: 'Open Sans, Helvetica Neue, Helvetica, Arial,sans-serif';

$max-container: 1240px;