@import "../common/mixin";

.contactus-section{
    @include section-bottom-spacing;

	.p-error {
        @include error;
    }

    .contactus-description-wrap {
        display: inline-block;
        max-width: 100%;
        width: 100%;
        
        @include md {
            max-width: calc(100% - 290px);
            width: 100%;
            padding-left: 20px;
        }
        
        @include xl {
            max-width: calc(100% - 350px);
            width: 100%;
            padding-left: 30px;
        }
        
        @include container-md {
            max-width: calc(100% - 360px);
            width: 100%;
            padding-left: 40px;
        }
    
        h2 {
            @include h2;
            margin-bottom: 10px;
            color: var(--data_site_text_color);
    
            @include md {
                margin-bottom: 16px;
            }
    
            @include xl {
                margin-bottom: 20px;
            }
        }
    
        p {
            @include body-large;
            color: var(--data_site_gray_color);
            margin-bottom: 20px;
    
            @include md {
                margin-bottom: 32px;
            }
    
            @include xl {
                margin-bottom: 42px;
            }
    
            @include container-md {
                margin-bottom: 62px;
            }
    
            a {
                color: var(--data_site_primary_color);
            }
        }
    
        .contactus-form {
            .form-group{
                @include form-group;
            }
    
            .row {
                @include row;
    
                .d-col{
                    &.submit-btn{
                        width: 100%;
                        margin-bottom: 0;
                        
                        @include md{
                            width: auto;
                        }
                    }
                }
            }
    
            h2 {
                margin-bottom: 14px;
    
                @include md {
                    margin-bottom: 20px;
                }
    
                @include xl {
                    margin-bottom: 30px;
                }
            }
    
            .submit-btn {
                .btn {
                    @include btn;
                }
    
                .btn-primary-with-icon {
                    @include btn-primary-with-icon;
                }
            }
        }
    }
}
