@import "../common/mixin";

.osicon-dry-eye {
    @include osicon-dry-eye;
}

.osicon-close {
    @include osicon-close;
}

.osicon-user {
    @include osicon-user;
}

.osicon-bag {
    @include osicon-bag;
}

.osicon-search {
    @include osicon-search;
}

.osicon-doctor {
    @include osicon-doctor;
}

.osicon-power {
    @include osicon-power;
}

.osicon-call {
    @include osicon-call;
}

.osicon-bar {
    @include osicon-bar;
}

.osicon-cheveron-down {
    @include osicon-cheveron-down;
}

.osicon-arrow {
    @include osicon-arrow;
}

header {
    filter: drop-shadow(0px 3px 6px rgba($text_color, 0.16));
    z-index: 1;
    position: relative;

    .sub-header {
        background-color: var(--data_site_primary_color);
        padding: 8px 0;
        color: var(--data_footer_text);
        @include font-detail(12px, 16px);

        @include lg {
            padding: 10px 0;
            @include font-detail(14px, 18px);
        }

        @include container-md {
            @include font-detail(16px, 20px);
            padding: 12px 0;
        }

        .container {
            @include flexbox;
            @include space-between;
            @include align-item-center;
            @include flexwrap;
        }

        .sub-text {
            @include h4;
            color: var(--data_footer_text);
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid var(--data_footer_text);

            @include md {
                width: 40%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
                text-align: left;
                border: none;
                margin: 0;
                padding: 0;
            }
        }

        ul {
            @include flexbox;
            @include align-item-center;
            @include just-end;
            width: 100%;
            
            @include md {
                width: auto;
            }

            li {
                position: relative;
                padding: 0 10px 0 0;
                @include flexbox;
                @include align-item-center;

                @include md {
                    padding: 0 15px 0 0;
                }

                @include container {
                    padding: 0 20px 0 0;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 1px;
                    background-color: var(--data_footer_text);
                    @include opacity(0.4);
                }

                &:not(:first-child){
                    margin: 0 0 0 10px;
                    padding: 0;

                    @include md {
                        margin: 0 0 0 15px;
                    }

                    @include container {
                        margin: 0 0 0 20px;
                    }

                    &::after{
                        display: none;
                    }
                }

                &.login-register-btn {
                    margin: 0 0 0 auto;
                    padding: 0;
    
                    @include md {
                        margin: 0 0 0 15px;
                    }
    
                    @include container {
                        margin: 0 0 0 20px;
                    }
                }

                a,
                span {
                    color: var(--data_footer_text);
                    @include font-detail(12px, 16px);

                    @include lg {
                        @include font-detail(14px, 18px);
                    }

                    @include container-md {
                        @include font-detail(16px, 20px);
                    }
                }

                a {
                    @include flexbox;
                    @include align-item-center;

                    span {
                        display: none;
                        margin: 0 0 0 10px;

                        @include md {
                            display: block;
                        }
                    }
                }

                button {
                    background-color: var(--data_footer_text);
                    padding: 4px 20px;
                    color: var(--data_site_primary_color);
                    border: 1px solid var(--data_site_primary_color);
                    @include font-family(var(--data_site_font_primary), 700);
                    @include border-radius(var(--data_site_border_radius));
                    cursor: pointer;
                    @include transition(0.3s);
                    @include font-detail(12px, 15px);

                    @include container-md {
                        @include font-detail(14px, 17px);
                    }

                    &:hover {
                        background-color: var(--data_site_primary_color);
                        border-color: var(--data_footer_text);
                        color: var(--data_footer_text);
                    }
                }
            }
        }
    }

    .main-header {
        background-color: var(--data_site_white_color);
        padding: 10px 0;
        position: relative;

        @include md {
            padding: 0;
        }

        .container {
            @include flexbox;
            @include align-item-center;
            @include space-between;

            .logo {
                max-width: 100px;
                display: inline-block;

                @include md {
                    max-width: 100px;
                }

                @include lg {
                    max-width: 150px;
                }

                @include container-lg {
                    max-width: 198px;
                    max-height: 55px;
                }

                picture {
                    height: 35px;

                    @include md {
                        height: 45px;
                    }

                    @include xl {
                        height: 55px;
                    }
                }

                img {
                    display: block;
                    object-fit: contain;
                    height: 100%;
                }
            }

            .menu-list-wrapper {
                position: fixed;
                inset: 0;
                height: 100vh;
                width: 100%;
                transform: translateX(-100%);
                @include transition(0.3s);
                z-index: 999;

                &.active {
                    transform: translateX(0);

                    &::after {
                        @include opacity(0.5);
                        @include transition(0.3s, 0.3s);
                    }
                }

                &::after {
                    content: '';
                    position: fixed;
                    inset: 0;
                    background-color: var(--data_site_text_color);
                    @include opacity(0);
                    height: 100vh;
                    width: 100%;
                    @include transition(0.3s);
                }

                @include md {
                    background-color: var(--data_site_white_color);
                    position: static;
                    height: auto;
                    width: auto;
                    transform: none;

                    &::after {
                        display: none;
                    }
                }

                .menu-list {
                    @include flexbox;
                    background-color: var(--data_site_white_color);
                    @include flexColumn;
                    height: 100%;
                    width: 320px;
                    max-width: 100%;
                    overflow: auto;
                    z-index: 1;
                    position: relative;

                    @include md {
                        @include align-item-center;
                        @include flexrow;
                        width: auto;
                        height: auto;
                        overflow: unset;
                        position: static;
                    }

                    .icon-close {
                        display: block;
                        padding: 10px;
                        border-bottom: 1px solid var(--data_site_border_color);
                        text-align: right;

                        @include md {
                            display: none;
                        }
                    }

                    .menu-list-item {
                        display: inline-block;
                        padding: 10px;
                        @include flexbox;
                        @include align-item-center;
                        @include flexwrap;
                        border-bottom: 1px solid var(--data_site_border_color);

                        @include md {
                            padding: 0 8px;
                            border: none;
                        }

                        @include lg {
                            padding: 0 15px;
                        }

                        @include container-lg {
                            padding: 0 20px;
                        }

                        &.search-wrapper {
                            position: relative;
                            display: block;

                            @include md {
                                display: none;
                            }

                            .relative {
                                position: relative;

                                input {
                                    background-color: var(--data_site_light_gray);
                                    border: none;
                                    color: var(--data_site_text_color);
                                    padding: 10px 50px 10px 15px;
                                    @include border-radius(var(--data_site_border_radius));
                                    width: 100%;
                                    @include font-family(var(--data_site_font_primary), 700);
                                    @include font-detail(12px, 16px);

                                    &:focus-visible {
                                        outline: none;
                                    }

                                    &::placeholder {
                                        @include h4;
                                        color: var(--data_site_text_color);
                                    }
                                }

                                i {
                                    position: absolute;
                                    right: 15px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 14px;
                                    cursor: pointer;
                                    z-index: 1;
                                }
                            }
                        }

                        .menu-list-action {
                            color: var(--data_site_text_color);
                            text-transform: uppercase;
                            @include h4;
                            font-size: 14px;
                            @include transition(0.3s);
                            @include flexbox;
                            @include space-between;
                            @include align-item-center;
                            width: 100%;
                            padding: 0;

                            @include md {
                                width: auto;
                                max-width: 100%;
                                @include just-center;
                                @include align-item-center;
                                position: relative;
                                @include h4;
                                padding: 25px 0;
                            }

                            @include xl {
                                padding: 35px 0;
                            }

                            @include container-lg {
                                padding: 47.5px 0;
                            }

                            &:hover {
                                color: var(--data_site_primary_color);
                            }

                            i {
                                margin-left: 10px;
                                line-height: normal;
                                font-size: 11px;
                                @include transition(0.3s);

                                @include container-md {
                                    margin-left: 12px;
                                }

                                &::before {
                                    @include transition(0.3s);
                                    display: inline-block;
                                }

                                &.menu-active {
                                    &::before {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            .sub-list-arrow {
                                display: none;

                                @include md {
                                    position: absolute;
                                    right: -1px;
                                    color: var(--data_site_gray_color);
                                    bottom: 0;
                                    font-size: 10px;
                                    display: block;
                                    @include opacity(0);
                                    @include transition(0.3s);

                                    &.active {
                                        @include opacity(1);
                                        @include transition(0.3s);
                                    }
                                }
                            }
                        }

                        .sub-list {
                            width: 100%;
                            @include flexbox;
                            @include flexwrap;
                            margin: 10px 0 0 0;

                            @include md {
                                max-width: 1400px;
                                left: 0;
                                right: 0;
                                margin: auto;
                                border: 1px solid var(--data_site_border_color);
                                z-index: -1;
                                width: calc(100% - 30px);
                                position: absolute;
                                background-color: var(--data_site_white_color);
                                filter: drop-shadow(0px 40px 46px rgba(0, 0, 0, 0.20));
                                top: 100%;
                                padding: 30px 20px 45px;
                                gap: 20px;
                                display: none;
                            }

                            @include container-md {
                                padding: 40px 30px 55px;
                                gap: 30px;
                            }

                            @include container-lg {
                                padding: 50px 40px 65px;
                                gap: 40px;
                            }

                            li {
                                width: 100%;

                                &:not(:last-child) {
                                    border-bottom: 1px solid var(--data_site_border_color);
                                }

                                @include md {
                                    width: calc(33.33% - 30px);
                                    @include transition(0.3s);

                                    &:hover {
                                        @include transition(0.3s);

                                        a {
                                            i {
                                                &::before {
                                                    color: var(--data_site_white_color);
                                                    @include transition(0.3s);
                                                }

                                                &::after {
                                                    @include opacity(1);
                                                    @include transition(0.3s);
                                                }
                                            }

                                            .sub-list-item {
                                                h3 {
                                                    color: var(--data_site_primary_color);
                                                    @include transition(0.3s);
                                                }
                                            }
                                        }
                                    }

                                    &:not(:last-child) {
                                        border: none;
                                    }
                                }

                                @include lg {
                                    width: calc(25% - 30px);
                                }

                                a {
                                    @include flexbox;
                                    gap: 8px;
                                    padding: 10px 0;
                                    @include transition(0.3s);
                                    @include align-item-center;

                                    @include md {
                                        padding: 0;
                                    }

                                    @include container-lg {
                                        gap: 10px;
                                    }

                                    i {
                                        height: 30px;
                                        width: 30px;
                                        @include border-radius(50%);
                                        display: inline-block;
                                        @include flexbox;
                                        @include align-item-center;
                                        @include just-center;
                                        position: relative;
                                        overflow: hidden;
                                        font-size: 14px;
                                        @include transition(0.3s);

                                        @include md {
                                            height: 35px;
                                            width: 35px;
                                        }

                                        @include container-md {
                                            height: 40px;
                                            width: 40px;
                                            font-size: 16px;
                                        }

                                        @include container-lg {
                                            height: 43px;
                                            width: 43px;
                                            font-size: 18px;
                                        }

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            inset: 0;
                                            background-color: var(--data_site_primary_color);
                                            opacity: 0.1;
                                            z-index: -1;
                                            @include transition(0.3s);
                                        }

                                        &::before {
                                            @include transition(0.3s);
                                        }
                                    }

                                    .sub-list-item {
                                        @include flexbox;
                                        @include flexColumn;
                                        @include transition(0.3s);

                                        h3 {
                                            @include h3;
                                            font-weight: 700;
                                            color: var(--data_site_gray_color);
                                            margin-bottom: 2px;
                                            @include transition(0.3s);

                                            @include md {
                                                margin-bottom: 5px;
                                            }
                                        }

                                        span {
                                            color: var(--data_site_dark_gray);
                                            @include font-detail(12px, 15px);

                                            @include container-md {
                                                @include font-detail(14px, 17px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .search-box {
                position: relative;
                
                .suggestion-searchbox {
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: var(--data_site_light_gray);
                    display: none;
                    z-index: 3;
                    @include border-radius(0 0 10px 10px);
                    overflow: hidden;

                    @include lg {
                        @include border-radius(0 0 15px 15px);
                    }

                    @include container {
                        @include border-radius(0 0 20px 20px);
                    }

                    .searching-list {
                        li {
                            a {
                                padding: 5px 10px;
                                display: block;
                                width: 100%;
                                font-size: 12px;
                                color: var(--data_site_text_color);
                                border-top: 1px solid var(--data_site_border_color);

                                @include lg {
                                    font-size: 14px;
                                    padding: 8px 14px;
                                }

                                &:hover {
                                    background: var(--data_site_white_color);
                                }
                            }
                        }
                    }
                }

                &.suggestion-open {
                    filter: drop-shadow(0px 3px 6px rgba($text_color, 0.16));

                    .relative {
                        input {
                            @include border-radius(10px 10px 0 0);

                            @include lg {
                                @include border-radius(15px 15px 0 0);
                            }

                            @include container {
                                @include border-radius(20px 20px 0 0);
                            }
                        }
                    }

                    .suggestion-searchbox {
                        display: block;
                    }
                }
            }

            .search-section {
                max-width: 300px;
                width: 100%;
                display: none;

                @include md {
                    display: block;
                    max-width: 200px;
                    position: relative;
                }

                @include lg {
                    max-width: 270px;
                }

                @include container {
                    max-width: 350px;
                }

                .relative {
                    position: relative;

                    input {
                        background-color: var(--data_site_light_gray);
                        border: none;
                        color: var(--data_site_text_color);
                        padding: 10px 50px 10px 15px;
                        @include border-radius(var(--data_site_border_radius));
                        width: 100%;
                        @include font-family(var(--data_site_font_primary), 700);
                        @include font-detail(12px, 16px);

                        @include lg {
                            @include font-detail(14px, 18px);
                            padding: 12px 50px 12px 18px;
                        }

                        @include container-md {
                            @include font-detail(16px, 20px);
                            padding: 15px 50px 15px 20px;
                        }

                        &:focus-visible {
                            outline: none;
                        }

                        &::placeholder {
                            @include h4;
                            color: var(--data_site_text_color);
                        }
                    }

                    i {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 14px;
                        cursor: pointer;
                        z-index: 1;
                        color: var(--data_site_text_color);

                        @include md {
                            font-size: 16px;
                        }

                        @include lg {
                            font-size: 18px;
                        }

                        @include xl {
                            font-size: 20px;
                        }
                    }
                }
            }

            .my-profile {
                margin: 0 0 0 auto;
                @include flexbox;
                @include align-item-center;

                @include md {
                    margin: 0 8px 0 0;
                }

                li {
                    display: inline-block;

                    &:not(:first-child) {
                        margin: 0 0 0 10px;

                        @include lg {
                            margin: 0 0 0 20px;
                        }

                        @include xl {
                            margin: 0 0 0 30px;
                        }
                    }

                    a {
                        &:hover {
                            i {
                                color: var(--data_site_primary_color);
                            }
                        }
                    }

                    i {
                        font-size: 16px;
                        color: var(--data_site_text_color);

                        @include xl {
                            font-size: 18px;
                        }

                        @include container {
                            font-size: 20px;
                        }

                        @include container-lg {
                            font-size: 23px;
                        }
                    }

                    .relative {
                        position: relative;

                        a {
                            i {
                                color: var(--data_site_text_color);
                            }

                            &:hover {
                                i {
                                    color: var(--data_site_primary_color);
                                }

                                span {
                                    background-color: var(--data_site_primary_color);
                                }
                            }

                            span {
                                position: absolute;
                                font-size: 10px;
                                color: var(--data_site_white_color);
                                background-color: var(--data_site_text_color);
                                @include border-radius(50%);
                                height: 13px;
                                width: 13px;
                                @include flexbox;
                                @include align-item-center;
                                @include just-center;
                                top: 2px;
                                left: 10px;
                                font-weight: bold;

                                @include md {
                                    font-size: 12px;
                                    height: 15px;
                                    width: 15px;
                                }

                                @include container {
                                    height: 19px;
                                    width: 19px;
                                }
                            }
                        }
                    }

                    &.hamburger-icon {
                        display: block;
                        margin-left: 20px;

                        i {
                            font-size: 14px;
                        }

                        @include md {
                            display: none;
                        }
                    }
                }

                .user-dropdown {
                    position: relative;

                    .user-dropdown-btn {
                        display: block;
                        height: 20px;
                        width: 20px;
                        @include border-radius(100%);
                        cursor: pointer;
                        object-fit: cover;

                        @media screen and (min-width: $device-lg) {
                            height: 30px;
                            width: 30px;
                        }

                        > img {
                            width: 100%;
                        }
                    }

                    .user-dropdown-menu {
                        display: none;
                        position: absolute;
                        top: 38px;
                        right: -30px;
                        z-index: 12;
                        background-color: var(--data_site_white_color);
                        width: 280px;
                        @include box-shadow(0 3px 6px rgba($text_color, 0.1));
                        @include border-radius(10px);
                        @include lg {
                            width: 300px;
                            right: -50px;
                            top: 45px;
                        }

                        @include container-md {
                            width: 340px;
                            right: -70px;
                            top: 50px;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            right: 30px;
                            bottom: 100%;
                            border: 10px solid transparent;
                            border-bottom-color: var(--data_site_primary_color);
                            @include lg {
                                right: 50px;
                            }
    
                            @include container-md {
                                right: 70px;
                            }
                        }

                        .user-profile-details {
                            background-color: var(--data_site_primary_color);
                            @include flexbox;
                            @include align-item-center;
                            padding: 10px;
                            @include border-radius(10px 10px 0 0);

                            @include lg {
                                padding: 12px;
                            }

                            @include container-md {
                                padding: 15px;
                            }

                            .user-profile-image {
                                display: block;
                                height: 40px;
                                width: 40px;
                                margin-right: 10px;
                                @include border-radius(100%);
                                object-fit: cover;

                                @include lg {
                                    height: 45px;
                                    width: 45px;
                                }

                                @include container-md {
                                    height: 52px;
                                    width: 52px;
                                }
                            }

                            .user-profile-content {
                                max-width: calc(100% - 40px);
                                @include lg {
                                    max-width: calc(100% - 45px);
                                }

                                @include container-md {
                                    max-width: calc(100% - 52px);
                                }
                            }

                            .user-name {
                                font-weight: bold;
                                @include font-detail(16px, 19px);
                                font-family: var(--data_site_font_primary);
                                letter-spacing: 0px;
                                color: var(--data_footer_text);
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                @media screen and (min-width: $device-md) {
                                    @include font-detail(18px, 21px);
                                }

                                @media screen and (min-width: $container-md) {
                                    @include font-detail(20px, 23px);
                                }
                            }

                            .user-email {
                                @include font-detail(14px, 24px);
                                font-family: var(--data_site_font_primary);
                                letter-spacing: 0px;
                                color: var(--data_footer_text);
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                @media screen and (min-width: $device-md) {
                                    @include font-detail(16px, 26px);
                                }

                                @media screen and (min-width: $container-md) {
                                    @include font-detail(18px, 28px);
                                }
                            }
                        }

                        .user-dropdown-menu-item {
                            .user-dropdown-menu-link {
                                @include flexbox;
                                @include align-item-center;
                                padding: 0px 10px;
                                @include lg {
                                    padding: 0px 15px;
                                }

                                @include container-md {
                                    padding: 0px 20px;
                                }

                                i {
                                    font-size: 16px;
                                    display: inline-block;
                                    margin-right: 12px;

                                    @media screen and (min-width: $container-md) {
                                        font-size: 18px;
                                    }
                                }

                                span {
                                    display: inline-block;
                                    font-weight: bold;
                                    @include font-detail(14px, 20px);
                                    font-family: var(--data_site_font_primary);
                                    letter-spacing: 0px;
                                    color: var(--data_site_text_color);

                                    @media screen and (min-width: $device-md) {
                                        @include font-detail(16px, 22px);
                                    }
                                }

                                &:hover .user-dropdown-menu-inner {
                                    color: var(--data_site_primary_color);
                                }

                                .user-dropdown-menu-inner {
                                    padding: 10px 0;
                                    display: block;
                                    width: 100%;
                                    border-bottom: 1px solid rgba(5, 5, 5, 0.1);
                                    color: var(--data_site_text_color);
                                    @include flexbox;
                                    @include align-item-center;

                                    @include lg {
                                        padding: 12px 0;
                                    }

                                    @include container-md {
                                        padding: 15px 0;
                                    }
                                }
                            }

                            &:last-child {
                                .user-dropdown-menu-link {
                                    .user-dropdown-menu-inner {
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        .user-dropdown-menu {
                            animation: fade-in 0.5s;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}