@import "../common/mixin";

.osicon-task-view {
    @include osicon-task-view;
}

.osicon-location {
  @include osicon-location;
}

.account-information-section {
  @include section-bottom-spacing;

  .btn {
    @include btn;
  }

  .btn-primary {
    @include btn-primary;
  }

  .p-error {
    @include error;
  }

  .title-with-icon {
    @include flexbox;
    @include align-item-center;
    gap: 14px;
    margin-bottom: 16px;

    h2 {
      @include body-large-bold3;
      margin-bottom: 0;
    }

    @include md {
      gap: 16px;
      margin-bottom: 18px;
    }

    @include container-md  {
      gap: 20px;
      margin-bottom: 20px;
    }

    .icon-description {
      @include flexbox;
      @include align-item-center;
      @include h3;
      @include transition(0.3s);
      cursor: pointer;
      color: var(--data_site_primary_color);
      gap: 6px;

      &:hover {
        color: var(--data_site_text_color);
      }

      @include md {
        gap: 8px;
      }
    }
  }

  .my-account-content-wrap {
    @include account-right-content-wrap;

    .account-content-title {
      @include account-content-title;
    }

    .order-information-section {
      .order-shipping-table-wrapper {
        @include bottom-margin;

        .order-shipping-table-box {
          @include lg {
            max-width: 320px;
          }

          @include container {
            max-width: 340px;
          }
        }
      }
    }
  }
}
