<div>
  <h2>{{ paramId ? "Update Banner" : "Create Banner" }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="bannerTitle">Banner Title</label><br />
      <input
        type="text"
        id="bannerTitle"
        formControlName="bannerTitle"
        class="input-feild"
      />
      @if (form.controls.bannerTitle.touched && form.controls.bannerTitle.dirty
      && form.controls.bannerTitle.invalid ){
      <p style="color: red">Please enter banner title</p>
      }
    </div>

    <div>
      <label for="bannerTitleArabic">Banner Title Arabic</label><br />
      <input
        type="text"
        id="bannerTitleArabic"
        formControlName="bannerTitleArabic"
        class="input-feild"
      />
      @if (form.controls.bannerTitleArabic.touched &&
      form.controls.bannerTitleArabic.dirty &&
      form.controls.bannerTitleArabic.invalid ){
      <p style="color: red">Please enter banner arabic name</p>
      }
    </div>
    <div class="radio-container">
      <label for="status-bar">Status</label>
      <div style="display:flex;align-items: center;gap: 10px;">
        <input
          type="radio"
          id="active"
          name="status"
          formControlName="status"
          [value]="1"
          [checked]="bannerStatus == 1"
          class="radio"
        />
        <label for="active">Active</label>
      </div>
      <div style="display:flex;align-items: center;gap: 10px;">
        <input
          type="radio"
          id="Inactive"
          name="status"
          formControlName="status"
          [value]="0"
          [checked]="bannerStatus == 0"
          class="radio"
        />
        <label for="Inactive">InActive</label>
      </div>
    </div>
    <div class="banner-card">
      <label for="bannerImage" class="banner-image"
        ><div>
          <span style="color: red;">*</span><span>{{
            bannerImageUrl || bannerImage1
              ? "Change image"
              : "Upload Banner Image"
          }}</span>
        </div></label
      ><br />
      <input
        type="file"
        id="bannerImage"
        class="banner-img"
        formControlName="bannerImage"
        (change)="handleImageChange($event)"
      />
      @if(bannerImageUrl || bannerImage1){
      <img
        [src]="paramId ? bannerImage1 : bannerImageUrl"
        alt="Banner"
        class="preview-image"
      />
      } @if(error){
      <div class="error">
       {{error}}
      </div>
      }
    </div>

    <div>
      <button
        type="submit"
        class="submit"
        [disabled]="form.invalid || error"
        [ngClass]="{ 'invalid-form': form.invalid || error }"
      >
        {{ paramId ? "Update" : "Create" }}
      </button>
      <button type="button" class="cancel" (click)="Cancel()">Cancel</button>
    </div>
  </form>
</div>
