:root {
	// Font Family
	--font-family-primary: 'Roboto', sans-serif;

	--font-10: 0.625rem;

	// Theme colors list
	--primary: #e01489;
	--secondary: #fe6500;
	--accent: #d9d51c;
	--warning: #fe6500;
	--info: #28d3cd;
	--success: #a9ca15;
	--default: #008cff;
	--error: #e0141e;
	--white: #ffffff;
	--black: #000000;
	--bg-light: #efefef;
	--primary-dark: #af0566;
	--gray-1: #4b5563;
}
