<div class="app-body login-page-module">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #rf="ngForm" novalidate (ngSubmit)="rf.form.valid && onSubmit(rf)" *ngIf="isDisplayForm">
                  <h1 class="outer-head-text">{{ 'RESET_PASSWORD' | translate }}</h1>
                  <div class="form-group row">
                    <label for="password" class="col-md-12">{{ 'NEW_PASSWORD' | translate }} <span class="asterisk_input"></span></label>
                    <div class="col-md-12 col-xs-12">
                      <div class="view-pass">
                        <input
                          [type]="showPass ? 'text' : 'password'"
                          name="password"
                          [pattern]="CommonRegx.PasswordRegx"
                          class="form-control"
                          placeholder="{{ 'NEW_PASSWORD' | translate }}"
                          (change)="checkPass()"
                          [(ngModel)]="model.password"
                          required
                          #password="ngModel"
                        />
                        <i
                          class="fa fa-lg"
                          [ngClass]="showPass ? 'fa-eye' : 'fa-eye-slash'"
                          (click)="showPass = !showPass"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div *ngIf="password.errors && rf.submitted" class="text-danger">
                        <span *ngIf="password.errors.required">
                          {{ 'PLEASE_ENTER_NEW_PASSWORD' | translate }}
                        </span>
                        <span *ngIf="password.errors.pattern">
                          {{ 'PLEASE_ENTER_NEW_PASSWORD_VALIDATION' | translate }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="confirmpass" class="control-label col-md-12"
                      >{{ 'CONFIRM_PASSWORD' | translate }} <span class="asterisk_input"></span
                    ></label>
                    <div class="col-md-12 col-xs-12">
                      <div class="view-pass">
                        <input
                          [type]="showConfPass ? 'text' : 'password'"
                          class="form-control"
                          required
                          [(ngModel)]="model.cpassword"
                          #confirm_pass="ngModel"
                          name="confirm_pass"
                          [pattern]="model.conf_pass_match"
                          placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
                        />
                        <i
                          class="fa fa-lg"
                          [ngClass]="showConfPass ? 'fa-eye' : 'fa-eye-slash'"
                          (click)="showConfPass = !showConfPass"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div *ngIf="confirm_pass.errors && rf.submitted" class="text-danger">
                        <span *ngIf="rf.submitted && confirm_pass.errors.required">
                          {{ 'PLEASE_ENTER_CONFIRM_PASSWORD' | translate }}
                        </span>
                        <span *ngIf="rf.submitted && confirm_pass.errors.pattern">
                          {{ 'PLEASE_ENTER_CONFIRM_PASSWORD_VALIDATION' | translate }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="divider"></div>
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary px-4 mr-10">{{ 'RESET' | translate }}</button>
                      <button type="button" class="btn btn-warning px-4" [routerLink]="['/login']">{{ 'CANCEL' | translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-loader></app-loader>
